$animation-duration-global: null;
$animation-delay-global: null;

@mixin animate-multi($duration: 0.3s, $delay: 0.2s) {
	$split-selectors: str-split-selector(#{&});
	$selectors: ();
	@each $selector in $split-selectors {
		$selector: str-trim($selector);
		$added: false;
		@for $i from 1 to 1000 {
			@if str-ends-with($selector, ":times(#{$i})") {
				$added: true;
				$selector: str-slice($selector, 1, str-length($selector) - str-length(":times(#{$i})"));
				@for $j from 1 through $i {
					@if $selector == sleep {
						$selectors: append($selectors, sleep);
					} @else {
						$selectors: append($selectors, unquote("#{$selector}:where(:nth-child(#{$j}))"));
					}
				}
			}
		}

		@if not $added {
			$selectors: append($selectors, $selector);
		}
	}

	$animation-duration-global: $duration !global;
	$i: 0;
	@each $selector in $selectors {
		@at-root #{$selector} {
			$animation-delay-global: $delay * $i !global;
			@if $selector != sleep {
				// @debug #{$selector};
				--animate-multi-index: #{$i};
				@content;
			}
			$animation-delay-global: null !global;
		}
		$i: $i + 1;
	}
	$animation-duration-global: null !global;
}
