@mixin animation-fade-in($duration: $animation-duration-global, $delay: $animation-delay-global) {
	@if $duration == null {
		$duration: 0.3s;
	}
	@if $delay == null {
		$delay: 0s;
	}
	--fade-in-animation-end-delay: #{$delay + $duration};
	animation:
		animation-fade-in-pre ($delay + 0.01s) linear,
		animation-fade-in $duration cubic-bezier(0, 0, 0.4, 1) $delay;
}

@keyframes animation-fade-in-pre {
	from {
		opacity: 0;
	}
	to {
		opacity: 0;
	}
}

@keyframes animation-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@mixin animation-fade-out($duration: $animation-duration-global, $delay: $animation-delay-global) {
	opacity: 0;
	@if $duration == null {
		$duration: 0.3s;
	}
	@if $delay == null {
		$delay: 0s;
	}
	animation:
		animation-fade-out-pre ($delay + 0.01s) linear,
		animation-fade-out $duration cubic-bezier(0, 0, 0.4, 1) $delay;
}

@keyframes animation-fade-out-pre {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}

@keyframes animation-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
