@mixin animation-swipe-up-in($duration: $animation-duration-global, $delay: $animation-delay-global) {
	transform: translateY(30px);
	opacity: 0;
	@if $duration == null {
		$duration: .3s;
	}
	@if $delay == null {
		$delay: 0s;
	}
	animation: animation-swipe-up-in $duration cubic-bezier(0,0,.4,1) $delay forwards;
}

@keyframes animation-swipe-up-in {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
