@mixin animation-swipe-up-in($duration: $animation-duration-global, $delay: $animation-delay-global) {
	@if $duration == null {
		$duration: 0.3s;
	}
	@if $delay == null {
		$delay: 0s;
	}
	--swipe-up-in-animation-delay: #{$delay};
	--swipe-up-in-animation-end-delay: #{$delay + $duration};
	animation:
		animation-swipe-up-in-pre ($delay + 0.01s) linear,
		animation-swipe-up-in $duration cubic-bezier(0, 0, 0.4, 1) $delay;
}

@keyframes animation-swipe-up-in-pre {
	from {
		translate: 0 30px;
		opacity: 0;
	}
	to {
		translate: 0 30px;
		opacity: 0;
	}
}

@keyframes animation-swipe-up-in {
	from {
		translate: 0 30px;
		opacity: 0;
	}
	to {
		translate: 0;
		opacity: 1;
	}
}

@mixin animation-swipe-down-out($duration: $animation-duration-global, $delay: $animation-delay-global) {
	translate: 0 30px;
	opacity: 0;
	@if $duration == null {
		$duration: 0.3s;
	}
	@if $delay == null {
		$delay: 0s;
	}
	animation:
		animation-swipe-down-out-pre ($delay + 0.01s) linear,
		animation-swipe-down-out $duration cubic-bezier(0, 0, 0.4, 1) $delay;
}

@keyframes animation-swipe-down-out-pre {
	from {
		translate: 0 0;
		opacity: 1;
	}
	to {
		translate: 0 0;
		opacity: 1;
	}
}

@keyframes animation-swipe-down-out {
	from {
		translate: 0 0;
		opacity: 1;
	}
	to {
		translate: 0 30px;
		opacity: 0;
	}
}

$i: 0;
@mixin animation-swipe-up-in-background-color-dodge($duration: .3s, $after-animations: none, $delay: 0s, $important: false) {
	$i: $i + 1 !global;
	@if $after-animations == none {
		animation: swipe-up-background-color-dodge-in-#{$i} $duration ease-in-out calc(var(--swipe-up-in-animation-end-delay) + #{$delay}) forwards #{if($important, "!important", "")};
	} @else {
		animation: swipe-up-background-color-dodge-in-#{$i} $duration ease-in-out calc(var(--swipe-up-in-animation-end-delay) + #{$delay}) forwards,
			$after-animations calc(var(--swipe-up-in-animation-end-delay) + #{$delay} + #{$duration}) #{if($important, "!important", "")};
	}
	
	@keyframes swipe-up-background-color-dodge-in-#{$i} {
		to {
			@content;
		}
	}
}		
