.view-about {
	&-title {
		text-transform: none;
	}
	
	&-content {
		overflow-y: auto;
		padding: 0 150px;
		
		@include tablet-or-mobile {
			padding: 0;
		}
	}
}

.documentation-card:times(30) {
	@include view-swipe-animation;
}

.documentation-section-heading:times(30) {
	@include view-swipe-animation;
}