.view-auth {
	&-content {
		display: grid;
		grid-template-columns: auto 1fr;
		overflow-y: visible;
		
		width: fit-content;
		height: fit-content;
    	justify-self: center;
		
		> * {
			width: fit-content;
			grid-column: 2;
		}
	}
	
	&-header {
		display: contents;
		pointer-events: none;
		user-select: none;
	}
	
	&-logo {
		grid-column: 1;
		width: 128px;
		margin-top: -2px;
		margin-right: 20px;
		
		@media (max-width: 800px) {
			width: 108px;
		}
		
		@media (max-width: 580px) {
			width: 88px;
		}
	}
	
	&-title {
		font-size: 48pt;
		text-transform: uppercase;
		line-height: 1em;
		margin-bottom: 30px;
		white-space: pre;
		margin-left: -3px;
		
		@media (max-width: 800px) {
			font-size: 40pt;
		}
		
		@media (max-width: 580px) {
			font-size: 32pt;
		}
	}
	
	@include animate-multi(view-auth-logo view-auth-title view-auth-state view-auth-button-auth, $duration: .6s, $delay: .1s) {
		@include animation-swipe-up-in;
	}
}
