.view-auth {
	grid-template-rows: 1fr;
	&-content {
		grid-row: 1;
		display: grid;
		grid-template-columns: auto 1fr;
		overflow-y: visible;
		
		width: fit-content;
		height: fit-content;
    	justify-self: center;
		
		> * {
			width: fit-content;
			grid-column: 2;
		}
		
		@include mobile {
			grid-template-columns: 1fr;
			
			> * {
				grid-column: 1;
			}
		}
	}
	
	&-header {
		display: contents;
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
	}
	
	&-logo {
		grid-column: 1;
		width: 128px;
		margin-top: -3px;
		margin-right: 20px;
		
		@media (max-width: 800px) {
			width: 108px;
		}
		
		@media (max-width: 580px) {
			width: 88px;
		}
		
		@media (max-width: 540px) {
			width: 128px;
			align-self: center;	
		}
	}
	
	&-title {
		font-size: 48pt;
		line-height: 1em;
		margin-bottom: 50px;
		margin-left: -3px;
		font-weight: 300;
		font-family: $font-title;
		
		@media (max-width: 800px) {
			font-size: 40pt;
		}
		
		@media (max-width: 580px) {
			font-size: 32pt;
		}
	}
	
	&-logo, &-title, &-state, &-button-auth {
		@include view-swipe-animation;
	}
}
