.view-collections {
	&-bucket {
		&-details {
			position: relative;
			&:not(.details-closed) {
				min-height: calc(var(--slot-size) * 2);
			}
			
			@at-root sleep, &:times(100) {
				@include view-swipe-animation;
			}
		}
		
		display: flex;
		flex-wrap: wrap;
	}
}