.view-collections {
	--view-padding-x: 50px;
	&-moment {
		position: relative;
		&:not(.details-closed) {
			min-height: calc(var(--slot-size) * 2);
		}

		@at-root sleep,
			&:times(100) {
			@include view-swipe-animation;
		}

		.details-summary {
			font-size: 16pt;
		}

		&-content {
			display: flex;
			flex-direction: row;
			gap: 20px;

			@include mobile {
				flex-direction: column;
			}
		}
	}

	&-bucket {
		display: flex;
		flex-wrap: wrap;
		height: fit-content;
		min-width: calc(var(--slot-size) * 2);

		&-title {
			flex-basis: 100%;
			opacity: 0.5;
			padding-bottom: 5px;
			padding-left: 3px;
			text-transform: uppercase;
			font-family: $font-title;
			letter-spacing: 0.2em;
			pointer-events: none;
			user-select: none;
			width: fit-content;
			white-space: nowrap;
			&::before {
				content: "// ";
			}
		}
	}
	
	&-currently-available {
		margin-bottom: 24px;
		user-select: none;
		
		&-activity {
			&-wrapper {
				&-paginator {
					&-button {
						height: calc(100% - 16px);
						margin-top: 8px;
						@at-root sleep:times(2), &, sleep:times(4), & {
							@include view-swipe-animation($delay: .1s);
						}
					}
					
					--paginator-content-width: calc(100vw - 20px - var(--view-padding-x) * 2);
				}
				
				padding: 8px 0 24px;
				// flex-wrap: wrap;
				--card-gap: 8px;
				margin: 0 -8px -16px;
				width: calc(var(--paginator-content-width) + 16px);
				
				// &-2 {
				// 	--length: 4;
				// }
				
				&-page {
					width: var(--paginator-content-width);
					display: flex;
					gap: 8px;
					padding: 0 8px;
					--card-width: calc((100vw - 20px - var(--view-padding-x) * 2 - var(--card-gap) * (var(--paginator-page-size) - 1)) / var(--paginator-page-size));
					--card-height: calc(var(--card-width) * .75);
					height: var(--card-height);
				}
			}
			
			width: var(--card-width);
			height: var(--card-height);
			overflow: initial;

			$sleeps: 2;
			@at-root sleep:times(#{$sleeps}),
				&:times(16) {
				@include view-swipe-animation($delay: .1s);
			}
			
			&-title {
				color: color(foreground-0);
			}
			
			&-description {
				font-size: 0.8em;
				color: color(foreground-3);
				font-style: italic;
			}
			
			&-title, &-description {
				pointer-events: none;
			}
			
			&-rewards {
				margin: -8px -4px;
				margin-top: 4px;
				display: flex;
				flex-wrap: wrap;
				--slot-size: max(50px, (var(--card-width) - var(--card-padding) * 2) / 7);
			}
			
			&-icon {
				&-container {
					position: absolute;
					inset: 0;
					overflow: hidden;
				}
				
				width: calc(var(--card-height) * .75);
				height: calc(var(--card-height) * .75);
				position: absolute;
				bottom: 0;
				left: calc(0px - var(--card-height) * .15);
				background: none;
				-webkit-mask-image: none;
				mask-image: none;
				
				&::before, &::after {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					background: currentColor;
					margin-right: 0.8em;
					-webkit-mask-image: var(--icon);
					-webkit-mask-size: contain;
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
					mask-image: var(--icon);
					mask-size: contain;
					mask-repeat: no-repeat;
					mask-position: center;
				}
				
				@keyframes collections-currently-available-activity-icon-pulsate {
					from {
						background: #888;
					}
					to {
						background: #8883;
					}
				}
				
				&::before {
					mix-blend-mode: color-dodge;
					background: transparent;
					@include animation-swipe-up-in-background-color-dodge(2s, collections-currently-available-activity-icon-pulsate 3s ease-in-out infinite alternate, calc((var(--animate-multi-index) - #{$sleeps}) * 1s)) {
						backdrop-filter: blur(4px);
						background: #888;
					}
				}
				
				&::after {
					opacity: .15;
					background: transparent;
					@include animation-swipe-up-in-background-color-dodge(2s, collections-currently-available-activity-icon-pulsate 3s ease-in-out infinite alternate, calc((var(--animate-multi-index) - #{$sleeps}) * 1s)) {
						background: #888;
					}
				}
			}
		
			&-header {
				position: absolute;
				inset: 0;
				bottom: auto;
				background: #111b;
				height: 2em;
				padding-left: var(--card-padding);
				display: flex;
				align-items: center;
				gap: .8em;
				
				&::before {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					backdrop-filter: blur(2px);
				}
				
				&-bookmark, &-subtitle {
					position: relative;
				}
				
				&-bookmark {
					width: 1.8em;
					height: 2em;
					--background-nightfall: #467896;
					--background-trials-of-osiris: #a08a0e;
					--background-raid: #3a353a;
					--background-dungeon: #766252;
					background: var(--background, #{color(background-6)});
					position: relative;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					filter: drop-shadow(0 0 2px #000a);
					z-index: 1;
					top: -2px;
					
					&::before, &::after {
						content: "";
						display: block;
						position: absolute;
						bottom: -1em;
						border-bottom: 1em solid transparent;
					}
					
					&::before {
						left: 0;
						border-left: 1.5em solid var(--background, #{color(background-6)});
					}
					
					&::after {
						right: 0;
						border-right: 1.5em solid var(--background, #{color(background-6)});
					}
					
					&-icon {
						width: 1.7em;
						height: 1.7em;
						background: var(--icon);
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						position: relative;
						top: 3px;
					}
				}
				
				&-subtitle {
					text-transform: uppercase;
					font-family: $font-serif;
					letter-spacing: .1em;
					font-size: .85em;
					color: color(foreground-2);
					
					&-note {
						color: color(foreground-3);
					}
					
					&-expiry {
						color: color(foreground-4);
					}
				}
			}
		}
		
		.item-fomo {
			display: none;
		}
	}
}
