.view-inventory-slot {
	--view-padding-x: 12px;
	
	&-content {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--bucket-gap-x);
		
		@media (min-width: 1000px) {
			overflow: hidden;
		}
		
		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
		}
	}
	
	&-footer {
		--sort-width: calc(
			var(--slot-size) * 4
			+ var(--bucket-inventory-padding) * 3
			+ var(--bucket-gap-x) / 2
			+ var(--view-padding-x)
		);
			
		.item-sort, .item-filter {
			position: relative;
			height: 100%;
			:where(&-drawer) {
				max-height: min(70vh, calc(
					var(--footer-height)
					+ var(--slot-size) * 6
					+ var(--bucket-title-height) * 2
					+ var(--bucket-inventory-padding) * 4
					+ var(--bucket-gap-y) * 2
					+ var(--view-padding-bottom)
					+ var(--slot-size-optimisation)
				));
				padding-bottom: calc(var(--footer-height) + 30px);
				box-sizing: border-box;
			}
			
			&-button, &-drawer {
				width: 100%;
			}
		}
		
		.item-sort {
			width: var(--sort-width);
    		flex-shrink: 0;
		}
		
		.item-filter {
			flex-grow: 1;
			:where(&-drawer) {
				max-height: 30vh;
			}
		}
	}
	
	&-hints {
		width: var(--sort-width);
    	flex-shrink: 0;
	}

	&-character-bucket {
		grid-template-columns: auto auto 1fr;
		grid-template-rows: unset;
		
		&:last-child {
			--bucket-gap-y: 0px;
		}
		
		&-emblem {
			justify-self: right;
			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				background: var(--emblem);
				background-size: contain;
			}
		}
		
		&-inventory {
			grid-column: 2/5;
			grid-row: 2/5;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: fit-content;
			padding: var(--bucket-inventory-padding) 20px;
			margin-left: calc(-20px + var(--bucket-inventory-padding));
			margin-right: calc(-20px + var(--bucket-inventory-padding));
			padding-bottom: calc(var(--bucket-inventory-padding) + var(--bucket-gap-y));
		}
		
		&-equipped {
			margin-top: 4px;
			margin-left: var(--bucket-inventory-padding);
			position: relative;
			
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 6px;
				right: -3px;
				width: 2px;
				height: calc(var(--slot-size) - 12px);
				background: color(background-5);
				z-index: -2;
			}
		}
	}
	
	@at-root {
		@include animate-multi(view-inventory-slot-character-bucket view-inventory-slot-vault-bucket, $duration: .6s, $delay: .1s) {
			@include animation-swipe-up-in;
		}
		
		.view-hidden {
			@include animate-multi(view-inventory-slot-character-bucket view-inventory-slot-vault-bucket, $duration: .6s, $delay: .1s) {
				@include animation-swipe-down-out;
			}
		}
	}
	
	&-highest-power {
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 20px;
			transform: rotate(45deg);
			box-shadow: none;
			z-index: -1;
			animation: highest-power-pulse 4s linear infinite;
	
			// TODO clean this up with scss magic
			@keyframes highest-power-pulse {
				5% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 5px var(--background-2), 0 0 0 6px white;
				}
				10% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 15px var(--background-2), 0 0 0 16px #fff9;
				}
				15% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 17px var(--background-2), 0 0 0 18px #fff6;
				}
				20% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 5px #fff1, 0 0 0 19px var(--background-2), 0 0 0 20px #fff3;
				}
				25% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 15px #fff3, 0 0 0 20px color(background-2, .6), 0 0 0 21px transparent;
				}
				30% {
					box-shadow: 0 0 0 5px transparent, 0 0 0 5px transparent, 0 0 0 17px #fff6, 0 0 0 21px color(background-2, .3), 0 0 0 22px transparent;
				}
				35% {
					box-shadow:  0 0 0 5px var(--background-3), 0 0 0 6px white, 0 0 0 19px #fff6, 0 0 0 22px color(background-2, .1), 0 0 0 23px transparent;
				}
				40% {
					box-shadow:  0 0 0 8px var(--background-3), 0 0 0 9px #fffc, 0 0 0 20px #fff5, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				45% {
					box-shadow:  0 0 0 11px var(--background-3), 0 0 0 12px #fff8, 0 0 0 21px #fff3, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				50% {
					box-shadow:  0 0 0 14px var(--background-3), 0 0 0 15px #fff4, 0 0 0 22px #fff2, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				55% {
					box-shadow:  0 0 0 17px color(background-2, .6), 0 0 0 18px #fff2, 0 0 0 23px #fff1, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				60% {
					box-shadow:  0 0 0 20px color(background-2, .3), 0 0 0 21px #fff1, 0 0 0 24px transparent, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				65% {
					box-shadow:  0 0 0 22px color(background-2, .1), 0 0 0 23px transparent, 0 0 0 25px transparent, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				70% {
					box-shadow: 0 0 0 22px transparent, 0 0 0 23px transparent, 0 0 0 22px transparent, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				75% {
					box-shadow: 0 0 0 22px transparent, 0 0 0 23px transparent, 0 0 0 22px transparent, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
				80% {
					box-shadow: 0 0 0 22px transparent, 0 0 0 23px transparent, 0 0 0 22px transparent, 0 0 0 22px transparent, 0 0 0 23px transparent;
				}
			}
		}
	}
	
	&-item-moving {
		&-original {
			opacity: 0.5;
			transform: none;
			&::before {
				animation: item-moving-original-animation 1.5s linear infinite;
				@keyframes item-moving-original-animation {
					0% {
						inset: -3px;
						opacity: 1;
					}
					30% {
						inset: -5px;
						opacity: 0.7;
					}
					50% {
						inset: -6px;
						opacity: 0;
					}
					70% {
						inset: 2px;
						opacity: 0;
					}
					100% {
						inset: -3px;
						opacity: 1;
					}
				}
			}
			
			&::after {
				background: none;
			}
		}
		
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: calc(var(--slot-size) - var(--slot-padding) * 2);
		height: calc(var(--slot-size) - var(--slot-padding) * 2);
		transform: var(--transform) translate(-50%, -50%);
		transition-property: background, border, color;
		&::before, &::after {
			content: none;
		}
	}
	
	&-bucket-drop-target:not(&-bucket-moving-from) {
		filter: brightness(1.1);
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background: #fff1;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: -100%;
			z-index: 3;
			background: linear-gradient(-45deg, transparent 46%, #fff5 50%, transparent 54%);
			background-size: 500% 500%;
			background-repeat: no-repeat;
			animation: bucket-drop-target 2s linear infinite;
			@keyframes bucket-drop-target {
				from {
					background-position-x: 115%;
				}
				to {
					background-position-x: 0%;
				}
			}
		}
		
		&.view-inventory-slot-vault-bucket::after {
			background-image: linear-gradient(-45deg, transparent 46%, #fff3 50%, transparent 54%);
		}
	}
	
	&-item-filtered-out:not(:focus-visible):not(:hover):not(:active) {
		filter: grayscale(.5);
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: -1px;
			z-index: 10;
			border: none;
			box-shadow: none;
			background: color(background-1, .8);
		}
	}
}

.stat-distribution {
	&-configuration {
		display: grid;
		grid-template-columns: auto auto 1fr auto;
    	grid-auto-flow: dense;
		column-gap: 0.5em;
		row-gap: 0.5em;
		padding: 0.5em 1em;
	}
	
	&-stat {
		display: contents;
		
		&-label {
			display: contents;
			color: color(foreground-2);
			text-align: right;
			> * {
				position: relative;
				top: -1px;
			}
			
			.checkbox {
				&-checkbox {
					grid-column: 1;
					order: unset;
				}
				
				&-label {
					grid-column: 2;
				}
			}
		}
		
		&-value {
			min-width: 1.5em;
			text-align: right;
		}
		
		&-range, &-value {
			@include transition(in, opacity);
		}
		
		&:not(&-enabled) :where(&-range, &-value) {
			opacity: .3;
		}
	}
}