.view-inventory-inventory {
	&-bucket {
		grid-column: 1;
		&-content {
			display: grid;
			grid-template-columns: repeat(10, auto);
			grid-template-rows: repeat(5, auto);
			overflow: hidden;
			justify-content: start;

			@include mobile {
				--slot-size: calc((100vw - var(--view-padding-x) * 2 - var(--bucket-inventory-padding) - 3px * 5) / 5);
				grid-template-columns: repeat(5, auto);
				grid-template-rows: repeat(10, auto);
			}
		}
	}

	&-content {
		--card-gap-x: 10px;
		grid-template-rows: auto;
		align-content: start;
	}

	&-vault-buckets {
		grid-column: 2;
		grid-template-rows: 1fr 1fr;
		gap: var(--card-gap-x);

		@include vertical-or-tablet {
			display: contents;

			.view-inventory-vault-bucket {
				grid-column: 1;

				&:nth-child(1) {
					grid-row: 4;
				}
				&:nth-child(2) {
					grid-row: 6;
				}
			}
		}
	}

	&-postmaster-buckets {
		grid-column: 3;

		@include vertical-or-tablet {
			grid-row: 2;
			grid-column: 1;
		}
	}

	&-vault-buckets,
	&-postmaster-buckets {
		grid-row: 1/3;
	}
	
	@at-root sleep,
		.view-inventory .bucket:times(4),
		.view-inventory .view-inventory-vault-bucket:times(6),
		.view-inventory .view-inventory-postmaster-bucket:times(3) {
		@include view-swipe-animation($has-view-selector: true);
	}
}
