.view-item {
	&-header {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		
		&-item {
			grid-row: 1/3;
			grid-column: 1;
			
			width: 78px;
			height: 78px;
			margin-top: 6px;
			margin-right: 20px;
			
			@include mobile {
				width: 56px;
				height: 56px;
				margin-top: 4px;
				margin-right: 8px;
			}
		}
	}
	
	&-title {
		@include mobile {
			font-size: 28pt;
		}
	}
	
	&-subtitle {
		@include mobile {
			font-size: 17pt;
			margin-top: -.3em;
		}
	}
	
	&-flavour-text {
		font-style: italic;
		grid-column: 1/3;
		max-width: 520px;
		
		@include mobile {
			margin: .5em 0;
		}
	}
	
	@at-root sleep, .card:times(30) {
		@include view-swipe-animation;
	}
	
	&-content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 200px;
	}
	
	@include vertical-or-tablet-or-mobile {
		overflow-y: auto;
		&-content {
			overflow-y: initial;
			grid-template-columns: 1fr;
			gap: 0px;
		}
	}
	
	.card {
		&-title {
			background: none;
			box-shadow: none;
			backdrop-filter: none;
			&::after {
				opacity: 0;
			}
			
			justify-content: flex-start;
			letter-spacing: inherit;
			font-family: $font-title;
			font-size: 14pt;
			font-weight: 200;
			opacity: .5;
			border-bottom: 2px solid currentColor;
			padding-left: 0;
		}
		
		&-header {
			background: none;
			-webkit-mask-image: none;
			mask-image: none;
			
			&::before, &::after {
				content: none;
			}
		}
	}
	
	&-socket {
		&s-container {
			width: 100%;
		}
		
		display: flex;
		gap: 5px;
		margin-bottom: 10px;
		
		@include mobile {
			flex-direction: column;
			margin-bottom: 30px;
		}
		
		&-plug {
			flex-basis: 30%;
			max-width: 30%;
			
			@include mobile {
				flex-basis: initial;
				max-width: none;
			}
			
			text-align: left;
			background: none;
			border-color: color(foreground-0, .3);
			// backdrop-filter: blur(3px);
			margin: 0;
			
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr;
			.button-icon-inner {
				grid-row: 1/3;
				width: 3.8em;
				height: 3.8em;
				align-self: flex-start;
				&::before {
					inset: 0;
				}
			}
			
			&-name, &-description {
				pointer-events: none;
			}
			
			&-name {
				font-family: $font-title;
    			font-size: 13pt;
				text-transform: uppercase;
				padding-right: 12px;
				// grid-row: 1/3;
				margin-top: 4px;
			}
			
			&-description {
				// display: none;
				white-space: pre-wrap;
				font-size: .8em;
				height: 100%;
				margin-bottom: 3px;
				padding-right: 6px;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
			}
			
			&-socketed {
				flex-grow: 1;
				max-width: none;
				background: color(perk, .85);
				
				:where(.view-item-socket-intrinsic) & {
					background: color(background-7, .8);
				}
			}
				
			&-exotic {
				background: color(perk-exotic, .8);
			}
			
			&-effects {
				position: absolute;
				inset: 0;
				pointer-events: none;
				z-index: -1;
			}
			
			&-enhanced {
				position: relative;
				
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 1px;
					border: 6px solid transparent;
					border-bottom-color: #ffed9f;
					border-bottom-width: 7px;
					transform: scaleX(.8)
				}

				.view-item-socket-plug-effects {
					background-image: linear-gradient(to right, rgba(#c5be80, .5) 0%, transparent 40%);
				
					&::before {
						content: "";
						display: block;
						position: absolute;
						inset: 0;
						background: linear-gradient(-45deg, transparent 40%, rgba(#e1e997, 1) 50%, transparent 65%);
						opacity: .2;
						background-size: 500% 500%;
						animation: flash 4s linear infinite reverse calc(var(--socket-index, 0) * .5s);
						@include blur-disables-animation;
					}
					
					&::after {
						content: "";
						display: block;
						position: absolute;
						left: 5px;
						top: 10px;
						border: 2px solid transparent;
						border-top-color: #ffed9f;
						border-top-width: 40px;
						border-bottom-width: 0;
						-webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
						mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
						transform: scaleX(.9)
					}
				}
			}
		}
	}
	
	&-definition &-perks &-socket {
		
		&s-container {
			display: flex;
			flex-direction: column;
  			writing-mode: vertical-lr;
			gap: 40px;
		}
		
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		max-height: calc((3.8em + 9px * 2) * 5 + 5px);
		width: fit-content;
		gap: 8px;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: calc(100% + 19px);
			left: -21px;
			background: currentColor;
			opacity: .1;
		}
		
		&-plug {
			grid-template-columns: auto;
			max-width: initial;
			padding: 5px;
			flex-grow: 0;
			flex-basis: initial;
  			writing-mode: horizontal-tb;
			background: transparent;
			
			&-name, &-description {
				display: none;
			}
			
			.button-icon-inner {
				margin-right: 0;
			}
			
			&, &::before {
				border-radius: 100px;
			}
		}
	}
}
