.view-item-tooltip {
	--view-padding-top: 0px;

	&-content {
		padding: 0;
		display: grid;
		grid-template-rows: 1fr auto;
	}

	&-tooltip {
		width: 100%;
		position: relative;
		inset: initial;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		height: 100%;
		display: grid;
		grid-template-rows: auto auto 1fr;
		&::after {
			content: "";
			background: color(tooltip-background);
		}
	}

	&-button {
		background: color(tooltip-footer-background);
		border: none;
		width: 100%;
		margin: 0;
		justify-content: center;
		padding: 10px 20px;

		&::before {
			content: none;
		}
	}

	&-tooltip,
	&-button:times(4) {
		@include view-swipe-animation;
	}
}
