@mixin view-swipe-animation($duration: .6s, $delay: .03s) {
	@include animate-multi($duration, $delay) {
		.view & {
			@include animation-swipe-up-in;
		}
		.view-hidden & {
			@include animation-swipe-down-out;
		}
	}
}

.view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(var(--current-nav-height) + var(--view-padding-top)) auto 1fr auto;
	justify-content: center;
	overflow: hidden;
	
	&-hidden {
		pointer-events: none;
	}
	
	&-loadable {
		display: contents;
	}
	
	&-header {
		grid-row: 2;
    	padding: 0 var(--view-padding-x);
	}
	
	&-content {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 0 var(--view-padding-x) var(--padding-y, var(--view-padding-bottom));
		overflow-y: auto;
		align-self: center;
		grid-row: 3;
		z-index: 1;
	}
	
	&-title {
		font-size: 44pt;
		font-weight: 600;
		text-transform: uppercase;
		font-family: $font-title;
		line-height: 1em;
		margin-bottom: .15em;
	}
	
	&-subtitle {
		font-size: 22pt;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $font-title;
		opacity: .6;
		margin-top: -.5em;
		margin-bottom: .2em;
	}
	
	&-footer {
		height: var(--footer-height);
		display: flex;
		align-items: center;
		z-index: 2;
		grid-row: 4;
		
		&-button {
			background: none;
			border: none;
			font: inherit;
			cursor: pointer;
			display: grid;
			grid-template-columns: auto 1fr;
    		grid-template-rows: 1fr max-content max-content 1fr;
			align-items: center;
			z-index: 2;
			text-align: left;
			position: relative;
			height: 100%;
			@include transition(out, background);
					
			&:active {
				padding-top: 3px;
				@include transition(in);
			}
			
			&:hover, &:focus-visible, &:active {
				background: color(background-0, .65);
			}
				
			&-icon {
				grid-row: 1/5;
				color: color(foreground-2);
				border-radius: 1em;
				background: color(background-6);
				border: 2px solid currentColor;
				margin: 0 .8em 0 .5em;
				@include transition(out, background, color, transform);
				
				> * {
					position: absolute;
					inset: 0;
					opacity: 0;
					transform: scale(0.5);
					@include transition(out, transform, opacity);
					
					&::before, &::after {
						content: "";
						display: block;
						position: absolute;
						width: .2em;
						height: .2em;
						border-radius: .2em;
						background: currentColor;
					}
					
					$position: -4px;
					$position-2: calc(100% + 2px);
					$duration: .2s;
					&:nth-child(1)::before {
						top: $position;
						left: $position;
						animation: top-left-to-bottom-right $duration linear;
						@keyframes top-left-to-bottom-right {
							to { top: $position-2; left: $position-2 }
						}
					}
					&:nth-child(1)::after {
						top: $position;
						right: $position;
						animation: top-right-to-bottom-left $duration linear;
						@keyframes top-right-to-bottom-left {
							50% { top: $position-2; right: $position }
							100% { top: $position-2; right: $position-2 }
						}
					}
					&:nth-child(2)::before {
						bottom: $position;
						right: $position;
						animation: bottom-right-to-top-left $duration linear;
						@keyframes bottom-right-to-top-left {
							to { bottom: $position-2; right: $position-2 }
						}
					}
					&:nth-child(2)::after {
						bottom: $position;
						left: $position;
						animation: bottom-left-to-top-right $duration linear;
						@keyframes bottom-left-to-top-right {
							50% { bottom: $position-2; left: $position }
							100% { bottom: $position-2; left: $position-2 }
						}
					}
				}
				
				.view-footer-button:where(:hover, :focus-visible, :active) & {
					color: color(foreground-0);
					background: color(background-7);
					transform: scale(1.25);
					@include transition(in);
					
					> * {
						transform: scale(1);
						opacity: 1;
						@include transition(in);
					}
				}
				
				.view-footer-button:active & {
					transform: scale(1.25);
					background: color(background-6);
					> * {
						&::before, &::after {
							animation: none;
						}
					}
				}
			}
			
			&-label {
				grid-row: 2;
				text-transform: uppercase;
				font-size: .7em;
				font-weight: 500;
				letter-spacing: .1em;
				line-height: 1em;
				margin-top: .1em;
				color: color(foreground-2);
				align-self: flex-end;
			}
			
			:where(&-text) {
				grid-row: 3;
				font-size: .9em;
				line-height: 1em;
				padding-top: 2px;
			}
		}
	}
	
	&-header, &-footer {
		@include view-swipe-animation;
	}
}

@import "AuthView";
@import "SettingsView";
@import "InventorySlotView";
@import "ItemView";
@import "ErrorView";
