$tiers: common, uncommon, rare, legendary, exotic;

$colors: (
	background: var(--background-3),
	background-0: #0f0d0d #b2b6bd,
	background-1: #181515 #b2b6bd,
	background-2: #201c1c #b9bec7,
	background-3: #2e2929 #c1c5ce,
	background-4: #3f3a3a #d0d3da,
	background-5: #494444 #dddfe2,
	background-6: #555050 #eaecf0,
	background-7: #747171 #f0f0f0,
	background-8: #858080 #ffffff,
	background-9: #918b8b #ffffff,

	foreground: var(--foreground-1),
	foreground-0: #ffffff #000000,
	foreground-1: #f7f3f3 #222233,
	foreground-2: #bdb7b7 #676783,
	foreground-3: #7c7474 #a3a3dd,

	accent-0: #58ccff #3792b9,
	accent-0-active: #8adcff,

	good: #58df58,
	bad: #e76b6b,
	warning: #e7b16b,

	tier-common-background: #c2bcb4,
	tier-common: #dddddd,
	tier-common-active: #eeeeee,
	tier-uncommon-background: #366f42,
	tier-uncommon: #5fa16d,
	tier-uncommon-active: #9ccaa6,
	tier-rare-background: #5076a3,
	tier-rare: #7eaadf,
	tier-rare-active: #c0dafa,
	tier-legendary-background: #522f65,
	tier-legendary: #774493,
	tier-legendary-active: #b791cc,
	tier-exotic-background: #c4a73d,
	tier-exotic: #f5dc56,
	tier-exotic-active: #fff4b5,

	background-drawer: var(--background-2) var(--background-4),
	button-background: color(--background-5),
	button-background-hover: color(--background-8),
	button-background-hover-overlay: rgba(var(--foreground-2-rgb), 0.3),
	button-background-active: color(--background-4),
	button-border: color(--foreground-2),
	button-border-hover: color(--foreground-0),
	button-foreground: color(--foreground-1),
	button-foreground-hover: color(--foreground-0),
	button-icon-foreground: color(--foreground-2),
	button-icon-foreground-hover: color(--foreground-1),
	button-icon-foreground-active: color(--foreground-3),
	input-background: color(--background-4),
	input-background-active: color(--background-2),
	input-border: color(--foreground-1),
	input-border-active: color(--foreground-3),
	tooltip-header-background: rgba(var(--background-4-rgb), 0.85),
	tooltip-background-alt: rgba(var(--background-3-rgb), 0.85),
	tooltip-background: rgba(var(--background-0-rgb), 0.85),
	tooltip-note-background: color(--background-3),
	tooltip-note-border: color(--background-6),
	tooltip-footer-background: #000,
	tooltip-clarity-background: rgba(23, 53, 30, 0.85),
	tooltip-clarity-border: #1f9139,
	tooltip-clarity-title: #499977,
	tooltip-clarity-url: #25e852,

	stat-masterwork: #fdd223,
	stat-masterwork-bar: #ceae32,
	stat-mod: #58a6ff,
	stat-negative: #9c47ec,

	perk: #559acf,
	perk-tooltip-background: #5c90b8,
	perk-exotic: #9b8f65,
	perk-wishlisted: #53af90,

	deepsight: #d2513b,
	deepsight-tooltip-border: #f0631e,
	deepsight-tooltip-background: #5a2e18,
	shaped: #ff8d5c,

	wishlist-tooltip-border: #53af90,
	wishlist-tooltip-background: #346353,

	wishlist-color-no-match: #a8d148,
	wishlist-tooltip-border-no-match: #93af53,
	wishlist-tooltip-background-no-match: #4e690d
);

@mixin override-color($name, $color, $opacity: null) {
	$rgba-var: var(--#{$name}-rgb);
	@if type-of($color) == color {
		--#{$name}-rgb: #{red($color), green($color), blue($color)};
		--#{$name}: #{if($opacity == null, $color, rgba($rgba-var, $opacity))};
	} @else if str-starts-with($color, "color(") {
		$referenced-var: str-slice($color, 9, str-length($color) - 1);
		--#{$name}-rgb: var(--#{$referenced-var}-rgb);
		--#{$name}: #{if($opacity == null, var(--#{$referenced-var}), rgba($rgba-var, $opacity))};
	} @else if str-starts-with($color, "var(") {
		$referenced-var: str-slice($color, 7, str-length($color) - 1);
		--#{$name}-rgb: var(--#{$referenced-var}-rgb);
		--#{$name}: #{if($opacity == null, var(--#{$referenced-var}), rgba($rgba-var, $opacity))};
	} @else {
		--#{$name}: #{$color};
		@if $opacity != null {
			@error "Can't use $opacity with this colour"
		}
	}
}

@mixin override-colors($colors) {
	@each $name, $color in $colors {
		@include override-color($name, $color);
	}
}

:root {
	color-scheme: dark;

	@each $name, $val in $colors {
		$color: nth($val, 1);
		@include override-color($name, $color);
	}

	// @media (prefers-color-scheme: light) {
	// 	color-scheme: light;
	// 	@each $var, $val in $colors {
	// 		@if length($val) > 1 {
	// 			$color: nth($val, 2);
	// 			@if type-of($color) == color {
	// 				--#{$var}: #{$color};
	// 				--#{$var}-rgb: #{red($color), green($color), blue($color)};
	// 			} @else if str-starts-with($color, "color(") {
	// 				$referenced-var: str-slice($color, 9, str-length($color) - 1);
	// 				--#{$var}: var(--#{$referenced-var});
	// 				--#{$var}-rgb: var(--#{$referenced-var}-rgb);
	// 			} @else {
	// 				--#{$var}: #{$color};
	// 			}
	// 		}
	// 	}
	// }
}

@function color($name, $opacity: null) {
	@if map-has-key($colors, $name) {
		@if $opacity == null {
			@return var(--#{$name});
		} @else {
			@return rgba(var(--#{$name}-rgb), $opacity);
		}
	}

	@error "Unknown color '#{$name}'";
}
