$tiers: common, uncommon, rare, legendary, exotic;

$colors: (
	background: var(--background-1),
	background-0: #201c1c #fff,
	background-1: #2e2929 #fff,
	background-2: #3f3a3a #f3f7ff,
	background-3: #494444 #e1ebff,
	background-4: #555050 #d4e1fb,
	background-5: #747171 #cdf,
	background-6: #858080 #c3d6fc,
	
	foreground: var(--foreground-1),
	foreground-0: #fff #000,
	foreground-1: #f7f3f3 #223,
	foreground-2: #bdb7b7 #676783,
	foreground-3: #7c7474 #a3a3dd,
	
	accent-0: #58CCFF #3792b9,
	accent-0-active: #8adcff,
	
	tier-common-background: #C2BCB4,
	tier-common: #ddd,
	tier-common-active: #eee,
	tier-uncommon-background: #366F42,
	tier-uncommon: #5fa16d,
	tier-uncommon-active: #9ccaa6,
	tier-rare-background: #5076A3,
	tier-rare: #7eaadf,
	tier-rare-active: #c0dafa,
	tier-legendary-background: #522F65,
	tier-legendary: #774493,
	tier-legendary-active: #b791cc,
	tier-exotic-background: #C4A73D,
	tier-exotic: #f5dc56,
	tier-exotic-active: #fff4b5,
	
	background-drawer: var(--background-0) var(--background-2),
	button-background: color(--background-3),
	button-background-hover: color(--background-6),
	button-background-hover-overlay: rgba(var(--foreground-2-rgb), .3),
	button-background-active: color(--background-2),
	button-border: color(--foreground-2),
	button-border-hover: color(--foreground-0),
	button-foreground: color(--foreground-1),
	button-foreground-hover: color(--foreground-0),
	
	tooltip-background: rgba(var(--background), .9),
);

:root {
	color-scheme: dark;
	
	@each $var, $val in $colors {
		$color: nth($val, 1);
		@if type-of($color) == color {
			--#{$var}: #{$color};
			--#{$var}-rgb: #{red($color), green($color), blue($color)};
		} @else if str-starts-with($color, "color(") {
			$referenced-var: str-slice($color, 9, str-length($color) - 1);
			--#{$var}: var(--#{$referenced-var});
			--#{$var}-rgb: var(--#{$referenced-var}-rgb);
		} @else {
			--#{$var}: #{$color};
		}
	}
	
	@media (prefers-color-scheme: light) {
		color-scheme: light;
		@each $var, $val in $colors {
			@if length($val) > 1 {
				$color: nth($val, 2);
				@if type-of($color) == color {
					--#{$var}: #{$color};
					--#{$var}-rgb: #{red($color), green($color), blue($color)};
				} @else if str-starts-with($color, "color(") {
					$referenced-var: str-slice($color, 9, str-length($color) - 1);
					--#{$var}: var(--#{$referenced-var});
					--#{$var}-rgb: var(--#{$referenced-var}-rgb);
				} @else {
					--#{$var}: #{$color};
				}
			}
		}
	}
}

@function color($name, $opacity: null) {
	@if map-has-key($colors, $name) {
		@if $opacity == null {
			@return var(--#{$name});
		}
		@else {
			@return rgba(var(--#{$name}-rgb), $opacity);
		}
	}
	
	@error "Unknown color '#{$name}'";
}
