:root {
	--slot-size: min(106px, (100vh
		- 50px /* nav */
		- 50px /* footer */
		- 27px * 3 /* bucket titles */
		- 4px * 2 /* bucket gap */
		- 22px /* view padding */
		- 8px * 3 /* bucket inventory padding */
		- 13px /* optimise for chrome with bookmarks bar on 1080p */
		) / 9);
	font-family: $font-sans-serif, sans-serif;
	font-weight: 400;
	letter-spacing: .02em;
	
	@media (max-width: 1000px) {
		--slot-size: 70px;
	}
	
	@media (max-width: 600px) {
		--slot-size: 60px;
	}
}

html {
	overflow-x: hidden;
}

button {
	font: inherit;
}

.logo {
	background: url("/image/logo.png");
	aspect-ratio: 1/1;
	background-size: cover;
}

html .hidden {
	display: none;
}

.slot {
	display: flex;
	padding: 3px;
	width: var(--slot-size);
	height: var(--slot-size);
	box-sizing: border-box;
}
