:root {
	--slot-size: 70px;
	font-family: $font-sans-serif, sans-serif;
	font-weight: 300;
}

html {
	overflow-x: hidden;
}

button {
	font: inherit;
}

.logo {
	background: url("/image/logo.png");
	aspect-ratio: 1/1;
	background-size: cover;
}

.hidden {
	display: none;
}

.slot {
	display: flex;
	padding: 6px;
	width: var(--slot-size);
	height: var(--slot-size);
}
