$vars: (
	--background-drawer: #1b1b27,
	--background-code: var(--background-drawer),
	--background: #223,
	--background-2: #272c45,
	--background-3: #2c3250,
	--background-4: #333b5f,
	--background-5: #3d4774,
	--background-6: #424e81,
	--color: #cdf,
	--color-2: #8d9cbe, // #8796b6;
	--color-3: #46587c,
	--color-active: #fff,
	--color-price: #44b235, // #3ea130;
	--color-length: #af87f8, // #9573d3;
	--color-date: #bda51e,
	--color-tag: #cb66b6,
	--color-tag-active: #f58ee0,
	--link: #3196ff, // #387eff;
	--link-active: #5db4ff,
	--image-border: var(--background),
);

@mixin rootVars {
	:root {
		color-scheme: dark;
		
		@each $var, $val in $vars {
			#{$var}: $val;
		}
		
		@media (prefers-color-scheme: light) {
			color-scheme: light;
			--background-drawer: var(--background-2);
			--background: #fff;
			--background-2: #f3f7ff;
			--background-3: #e1ebff;
			--background-4: #d4e1fb;
			--background-5: #cdf;
			--background-6: #c3d6fc;
			--color: #223;
			--color-2: #676783; // #8d8db3;
			--color-3: #a3a3dd;
			--color-date: #9f5800; // #a88f00;
			--color-active: #000;
			--link: #1465fd;
			--link-active: #69a9fd;
			--color-length: #7f3ef0;
			--color-price: #0f7b00;
			--color-tag: #be47a5;
			// --link-active: #4586ff;
		}
	}
}

@mixin resolve($property, $value) {
	@if type-of($value) == "list" {
		$value: unquote("#{$value}");
	}
	
	$novar-value: "";
	$fixed-value: "";
	$skip-till: 0;
	@for $i from 1 through str-length($value) {
		@if $i > $skip-till {
			@if str-slice($value, $i, $i + 3) == "var(" {
				$break: false;
				$variable-name: "";
				@for $j from $i + 4 through str-length($value) {
					@if $break == false {
						$char: str-slice($value, $j, $j);
						@if $char == ")" {
							$novar-value: $novar-value + map-get($vars, $variable-name);
							$fixed-value: $fixed-value + "var(" + $variable-name + "," + map-get($vars, $variable-name) + ")";
							$break: true;
							$skip-till: $j;
						} @else {
							$variable-name: $variable-name + $char;
						}
					}
				}
			} @else {
				$novar-value: $novar-value + str-slice($value, $i, $i);
				$fixed-value: $fixed-value + str-slice($value, $i, $i);
			}
		}
	}
	
	@if unquote($novar-value) != $value {
		#{$property}: unquote($novar-value);
	}
	
	#{$property}: unquote($fixed-value);
}
