.item-tooltip {		
	@each $tier in $tiers {
		&-tier-#{$tier} .tooltip-header {
			background: color(tier-#{$tier}-background, .85);
		}
	}
	
	&-source-watermark {
		position: absolute;
		top: 0;
		right: 0;
		border-right: 44px solid #0008;
		border-bottom: 44px solid transparent;
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 21px;
			top: 3px;
			background: currentColor;
			-webkit-mask-image: var(--icon);
			-webkit-mask-size: contain;
			-webkit-mask-position: center;
			-webkit-mask-repeat: no-repeat;
			mask-image: var(--icon);
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
		}
	}
	
	.tooltip-header {
		> * {
			z-index: 1;
		}
	}
	
	&-masterwork .tooltip-header {
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			max-height: 69px;
			background: linear-gradient(-45deg, transparent 35%, #fff 50%, transparent 65%), #D4B73C;
			background-size: 400% 400%;
			animation: flash 2s linear infinite reverse;
			@include blur-disables-animation;
			-webkit-mask-image: 
				url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("/image/masterworktooltip.png");
			mask-image: 
				url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("/image/masterworktooltip.png");
		}
	}
	
	&-content {
		background: none;
		padding: 0;
	}
	
	&-primary-info {
		display: grid;
		grid-template-columns: auto 1fr;
		row-gap: .5em;
		padding: var(--tooltip-padding);
		background: color(tooltip-background);
	}
		
	&-primary-stat {
		font-size: 32pt;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: -.02em;
		display: inline-flex;
		margin: 4px 0;
		
		&-damage {
			color: var(--colour);
			display: flex;
			&::before {
				content: "";
				display: inline-block;
				width: .75em;
				height: .75em;
				align-self: center;
				background: var(--icon);
				background-size: contain;
				margin-right: .15em;
			}
		}
		
		&::after {
			content: "";
			display: block;
			width: 2px;
			height: 90%;
			align-self: center;
			margin: 0 calc(32pt * .3);
			background: white;
			opacity: 0.25;
		}
	}
	
	&-ammo-type, &-energy-type {
		font-size: 1.1em;
		line-height: 1em;
	}
	
	&-ammo-type {
		display: flex;
		text-transform: uppercase;
		align-items: center;
		
		&::before {
			content: "";
			display: inline-block;
			height: calc(32pt * .75);
			aspect-ratio: 1312 / 937;
			align-self: center;
			background: var(--icon);
			background-size: contain;
			background-repeat: no-repeat;
			margin-right: calc(32pt * .2);
		}
		
		&-primary {
			--icon: url("https://www.bungie.net/img/destiny_content/ammo_types/primary.png");
		}
		&-special {
			--icon: url("https://www.bungie.net/img/destiny_content/ammo_types/special.png");
		}
		&-heavy {
			--icon: url("https://www.bungie.net/img/destiny_content/ammo_types/heavy.png");
		}
	}
	
	&-energy {
		display: flex;
		text-transform: uppercase;
		align-items: center;
		
		&-value {
			display: flex;
			font-size: 1.6em;
			font-weight: 600;
			margin-right: .25em;
			transform: translateY(.03em);
			align-items: center;
			color: var(--colour);
			
			&::before {
				content: "";
				display: block;
				background: var(--icon);
				background-size: contain;
				background-repeat: no-repeat;
				width: .6em;
				height: .6em;
				margin-right: .05em;
				transform: translateY(-.03em);
			}
		}
	}
	
	&-deepsight {
		display: flex;
		flex-direction: column;
		gap: .5em;
		background: color(deepsight-tooltip-background, .85);
		border: 2px solid color(deepsight-tooltip-border);
		border-left: none;
		border-right: none;
		padding: var(--tooltip-padding);
		
		&-pattern {
			display: flex;
			gap: .5em;
			align-items: center;
			padding: 0 2px 2px;
			font-size: 15px;
			&::before {
				content: "";
				display: block;
				width: .85em;
				height: .85em;
				background: currentColor;
				-webkit-mask-image: url("/image/svg/shaped.svg");
				-webkit-mask-size: contain;
				-webkit-mask-repeat: no-repeat;
				mask-image: url("/image/svg/shaped.svg");
				mask-size: contain;
				mask-repeat: no-repeat;
				position: relative;
				top: 1px;
			}
			
			&-number {
				font-weight: 700;
			}
			
			&-out-of {
				display: flex;
				align-items: center;
				gap: .5em;
				opacity: .5;
			}
		}
	}
		
	&-progress-bar {
		color: color(foreground-0);
		background: color(background-0, .55);
		display: grid;
		grid-template-columns: 1fr auto;
		position: relative;
		padding: 2px 4px 2px 6px;
		z-index: 1;
		grid-column: 1/5;
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			right: calc(100% * (1 - var(--progress)));
			background: var(--progress-bar-background, #5da569);
			z-index: -1;
		}
	}
	
	&-weapon-level {
		--progress-bar-background: #d35137;
		text-shadow: 1px 2px .05em #0008;
	}
	
	&-stat {
		&-wrapper {
			padding: var(--tooltip-padding);
			padding-right: 1.5em;
			padding-left: 1.5em;
			background: color(tooltip-background);
			border: 1px solid rgba(white, .25);
			border-left: none;
			border-right: none;
			display: grid;
			grid-template-columns: auto 1fr repeat(3, auto);
			column-gap: .5em;
			row-gap: 2px;
			align-items: center;
			
			&-other-stats {
				display: contents;
			}
		}
		
		display: contents;
		
		&-label {
			text-align: right;
			color: color(foreground-2);
			grid-column: 1;
		}
		
		&-bar {
			grid-column: 2;
			background: #fff1;
			height: 1.1em;
			position: relative;
			top: 1px;
			display: flex;
			overflow: hidden;
			&-block {
				height: 100%;
				width: calc(100% * var(--value));
				background: currentColor;
				flex-shrink: 0;
				&-negative {
					display: contents;
					&::before, &::after {
						position: relative;
						content: "";
						height: 50%;
						top: 50%;
						width: calc(100% * var(--value) * -1);
						margin-left: calc(100% * var(--value));
						background: #983232;
						flex-shrink: 0;
					}
					&::after {
						transform: translateX(calc(100% / (var(--value) * -1) + 1px));
					}
				}
			}
			
			&-recoildirection {
				background: none;
				circle {
					fill: #fff1;
				}
				
				path {
					fill: currentColor;
				}
				
				line {
					stroke: currentColor;
					stroke-width: 0.1;
				}
			}
		}
		
		&-masterwork {
			color: #ceae32;
		}
		
		&-mod {
			color: #58a6ff;
		}
		
		&-value {
			display: flex;
			gap: .5em;
			text-align: right;
			
			&-component {
				&:empty {
					display: none;
				}
			}
			
			:root:not(.show-extra-info) & {
				&-component {
					display: none;
				}
			}
			
			&-component-negative {
				color: #983232;
				font-weight: 600;
			}
		}
		
		&-bar ~ &-value {
			display: contents;
		}
			
		:root.show-extra-info &-combined {
			display: none;
		}
		
		&-formula {
			display: flex;
			gap: .5em;
		}
		
		&-distribution {
			&-component, & .item-tooltip-stat-combined {
				background: linear-gradient(to right, #9e4949, #e04d4d 50%, #ff0 75%, #4eff13 100%);
				background-size: 100vw 1px;
				background-position: calc(var(--value) * -100vw + 3em);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				text-shadow: none;
				font-weight: 600;
			}
		}
	}
	
	&-mod {
		&s {
			padding-top: 1px;
			box-shadow: inset 0 1px rgba(#fff, .25), inset 0 1px color(tooltip-background);
			--mod-padding: 4px;
		}
		
		position: relative;
		display: flex;
		align-items: center;
		
		&-socket {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: 1fr;
			background: color(tooltip-background);
			padding: var(--tooltip-padding);
			padding-top: var(--mod-padding);
			padding-bottom: var(--mod-padding);
		
			&-enhanced {
				box-shadow: inset 1px 0 color(tooltip-background), inset 4px 0 #D4B73C;
				background-image: linear-gradient(to right, rgba(#D4B73C, .25) 0%, transparent 40%);
				position: relative;
				
				&::before {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					background: linear-gradient(-45deg, transparent 40%, rgba(#D4B73C, .1) 50%, transparent 65%);
					background-size: 500% 500%;
					animation: flash 4s linear infinite reverse calc(var(--socket-index, 0) * .5s);
					@include blur-disables-animation;
				}
				
				&::after {
					content: "";
					display: block;
					position: absolute;
					left: 8px;
					border: 3.5px solid transparent;
					border-bottom-color: #ffed9f;
					border-bottom-width: 4px;
					transform: scaleX(.8)
				}

				.item-tooltip-mod-socketed::after {
					content: "";
					display: block;
					position: absolute;
					left: -2px;
					top: 1px;
					border: 1.5px solid transparent;
					border-top-color: #ffed9f;
					border-top-width: 20px;
					border-bottom-width: 0;
					-webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					transform: scaleX(.9)
				}
			}
		}
		
		&-intrinsic {
			background: color(tooltip-background-alt);
		}
		
		&::before {
			content: "";
			width: 30px;
			height: 30px;
			background: var(--icon);
			background-size: contain;
			background-repeat: no-repeat;
		}
		
		&-socketed::before {
			margin-right: .5em;
		}
	}
	
	&-hints {
		display: flex;
		justify-content: flex-end;
		gap: 12px;
	}
}
