$z-index-watermark: 100;
$z-index-item-border: 300;
$z-index-masterwork: 500;
$z-index-wishlist: 600;
$z-index-extra: 800;
$z-index-shaped: 900;
$z-index-deepsight: 900;
$z-index-loading: 1000;

.item {
	width: 100%;
	height: 100%;
	position: relative;
	border: none;
	margin: 0;
	padding: 0;
	transition-property: background, border, color, transform, filter, opacity;
	background: none;

	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		z-index: $z-index-item-border;
		box-shadow: inset 0 0 0 1px var(--border-color);
		@include transition(out, background, box-shadow);
	}

	&:where(.button):where(:hover, :active, :focus-visible) {
		&::after {
			background: color(button-background-hover-overlay);
			@include transition(in);
		}
	}

	&-icon {
		background: var(--icon);
		background-color: var(--background-color);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	&-classified {
		background-color: color(background-7);
	}

	&-borderless {
		&::after {
			content: none;
		}

		.item-icon {
			background-color: transparent;
		}
	}

	&-is-masterwork {
		--ornament-width: 3px;
	}

	&-universal-armour-ornament {
		@include transition(in, box-shadow);
		box-shadow:
			inset 0 0 0 calc(3px + var(--ornament-width, 0px)) #0004,
			inset 0 0 0 calc(4px + var(--ornament-width, 0px)) var(--border-color),
			inset 0 0 0 calc(5px + var(--ornament-width, 0px)) #0008;
		background-size: calc(100% - var(--ornament-width, 0px) * 2 - 8px);
	}

	@each $tier in $tiers {
		&-tier-#{$tier} {
			--border-color: #{color(tier-#{$tier})};
			--background-color: #{color(tier-#{$tier}-background)};
			&:where(:hover, :active, :focus-visible) {
				--border-color: #{color(tier-#{$tier}-active)};
			}
		}
	}

	&-masterwork,
	&-shaped,
	&-deepsight,
	&-wishlist,
	&-wishlist-no-match,
	&-source-watermark,
	&-extra {
		position: absolute;
		inset: 0;
		background-size: cover;
	}

	&-source-watermark {
		inset: 1px;
		background-image: var(--watermark);
		z-index: $z-index-watermark;
	}

	&-masterwork {
		--main-border-color: #cbaf3c;
		box-shadow:
			inset 0 0 0 2px var(--main-border-color),
			inset 0 0 0 4px #cbaf3c66,
			inset 0 0 2px 5px #cbaf3c77;
		overflow: hidden;
		background: radial-gradient(ellipse at bottom center, #ffe16766 10%, transparent 30%);
		background-size: 300% 100%;
		background-position: center;
		z-index: $z-index-masterwork;

		.item-deepsight ~ &,
		&-shifted-due-to-junk-border {
			inset: 2px;
		}

		&-spinny {
			position: absolute;
			inset: 0;
			pointer-events: none;

			-webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 68"><polygon points="2,2 2,66 66,66 66,2" fill="black"/></svg>'),
				linear-gradient(#fff, #fff);
			-webkit-mask-composite: destination-out;
			mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 68"><polygon points="2,2 2,66 66,66 66,2" fill="black"/></svg>'),
				linear-gradient(#fff, #fff);
			mask-composite: exclude;

			&::after {
				content: "";
				display: block;
				position: absolute;
				inset: -100%;
				background: linear-gradient(to bottom, transparent 30%, #fff 50%, transparent 70%);
				animation: masterwork-rotate 6s linear infinite;
				@include blur-disables-animation;

				@keyframes masterwork-rotate {
					from {
						transform: rotate(0deg);
					}
					to {
						transform: rotate(360deg);
					}
				}
			}
		}

		@mixin disabled-spinny {
			--main-border-color: #ecca3e;

			&-spinny {
				display: none;
			}
		}

		@include mobile {
			@include disabled-spinny;
		}

		.performance-mode & {
			@include disabled-spinny;
		}
	}

	@mixin icon($icon, $color) {
		position: absolute;
		inset: 0;
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 6%;
			left: 6%;
			width: 20%;
			height: 20%;
			background: $color;
			-webkit-mask-image: $icon;
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			mask-image: $icon;
			mask-size: contain;
			mask-repeat: no-repeat;
		}
	}

	&-not-acquired {
		filter: grayscale(0.4);
		&::after {
			background: color(background-1, 0.4);
			box-shadow:
				inset 0 0 0 1px color(background-1, 0.4),
				inset 0 0 0 1px var(--border-color);
		}
	}

	&-wishlist {
		box-shadow:
			inset 0 0 0 2px color(wishlist-tooltip-border),
			inset 0 0 0 4px color(wishlist-tooltip-border, 0.5);

		> * {
			@include icon(url("/image/svg/wishlisted.svg"), color(foreground-0));

			.item-deepsight-has-pattern ~ & {
				display: none;
			}
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: calc(var(--slot-size) * 0.45) solid color(wishlist-tooltip-border);
			border-right: calc(var(--slot-size) * 0.45) solid transparent;
		}

		&-no-match {
			box-shadow:
				inset 0 0 0 2px color(wishlist-tooltip-border-no-match),
				inset 0 0 0 4px color(wishlist-tooltip-border-no-match, 0.5);

			.item-masterwork ~ & {
				box-shadow: inset 0 0 0 2px color(wishlist-tooltip-border-no-match);
			}

			> * {
				@include icon(url("/image/svg/delete.svg"), color(background-3));
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				border-bottom: calc(var(--slot-size) * 0.45) solid color(wishlist-tooltip-border-no-match);
				border-right: calc(var(--slot-size) * 0.45) solid transparent;
			}
		}

		&,
		&-no-match {
			z-index: $z-index-wishlist;
		}
	}

	&-shaped {
		background-image: url("/image/shaped.png");
		z-index: $z-index-shaped;
		> * {
			@include icon(url("/image/svg/shaped.svg"), color(shaped));
		}
	}

	&-deepsight {
		$deepsight: color(deepsight);
		box-shadow: inset 0 0 0 2px $deepsight;
		z-index: $z-index-deepsight;

		// &-attuned {
		// 	&::before {
		// 		content: "";
		// 		display: block;
		// 		position: absolute;
		// 		bottom: 0;
		// 		right: 0;
		// 		border-bottom: calc(var(--slot-size) * .45) solid $deepsight;
		// 		border-left: calc(var(--slot-size) * .45) solid transparent;
		// 	}
		// 	&::after {
		// 		content: "!";
		// 		display: block;
		// 		position: absolute;
		// 		bottom: 3px;
		// 		right: 0;
		// 		font-size: 1.2em;
		// 		width: 33%;
		// 		height: 33%;
		// 		font-weight: 600;
		// 	}
		// }

		&-has-pattern {
			position: absolute;
			inset: 0;
			background-image: url("/image/deepsight.png");
		}

		&-pattern {
			&:not(&-unlocked) {
				@include icon(url("/image/svg/shaped.svg"), color(foreground));
			}

			z-index: $z-index-deepsight;
		}

		&-pattern-unlocked {
			@include icon(url("/image/svg/shaped.svg"), color(background-3));
		}
	}

	&-source-watermark-custom {
		width: 0;
		height: 0;
		border-left: calc(var(--slot-size) * 0.49) solid #0000006a;
		border-bottom: calc(var(--slot-size) * 0.49) solid transparent;
		&::before {
			content: "";
			background: white;
			display: block;
			position: absolute;
			top: calc(var(--slot-size) * 0.04);
			left: calc(var(--slot-size) * -0.44);
			width: calc(var(--slot-size) * 0.2);
			height: calc(var(--slot-size) * 0.2);
			-webkit-mask-image: var(--icon);
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-image: var(--icon);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}

	&-extra {
		:root:not(.show-extra-info, .show-item-extra-info) .item:not(:hover, :focus-visible) &:not(.item-extra-empty) {
			&::before,
			.item-extra-info {
				display: none;
			}
		}

		display: grid;
		grid-template-rows: repeat(3, 1fr);
		justify-content: flex-end;
		align-items: center;
		padding: calc(var(--slot-size) * 0.02) calc(var(--slot-size) * 0.05);
		font-size: calc(var(--slot-size) * 0.2);
		font-weight: 500;
		text-align: right;
		z-index: $z-index-extra;

		&::before {
			content: "";
			display: block;
			position: absolute;
			background-image: url("/image/extra.png");
			background-size: cover;
			z-index: -1;
			inset: 1px;
			:where(.item-masterwork, .item-deepsight) ~ & {
				inset: 2px;
			}
		}

		&-empty {
			&::before {
				background: none;
				position: relative;
				grid-row: 1;
			}
			&::after {
				content: "";
				grid-row: 2;
			}
		}

		&-info {
			width: fit-content;
			justify-self: flex-end;

			&:not(img) {
				background: #0007;
				padding: 0 3px;
				margin-right: -1.8px;
			}

			img#{&} {
				min-height: 0;
				background-color: #0007;
				box-shadow: 0 0 0 3px #0007;
				margin-right: 1px;
			}
		}
	}

	&-name {
		font-size: 0.5em;
		line-height: 1.3em;
		max-height: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		background: none !important;

		&-text {
			background: #0007;
			box-shadow:
				3px 0 0 #0007,
				-3px 0 0 #0007;
		}
	}

	&-energy {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&-power-level {
		display: flex;
		width: fit-content;
		justify-self: flex-end;
		background: #0007;
		padding: 0 3px;
		margin-right: -2px;
		&-icon {
			&::before {
				content: "";
				display: block;
				width: 0.6em;
				height: 0.6em;
				position: relative;
				top: 0.3em;
				background: currentColor;
				-webkit-mask-image: url("https://raw.githubusercontent.com/justrealmilk/destiny-icons/master/general/power2.svg");
				-webkit-mask-size: contain;
				-webkit-mask-position: center;
				-webkit-mask-repeat: no-repeat;
				mask-image: url("https://raw.githubusercontent.com/justrealmilk/destiny-icons/master/general/power2.svg");
				mask-size: contain;
				mask-position: center;
				mask-repeat: no-repeat;
			}
		}

		&-eighths {
			display: grid;
			grid-template-columns: 1em 1em;
			grid-template-rows: 1em 1em;
			font-size: 0.5em;
			height: 2em;
			margin-left: 0.5em;
			margin-right: -0.5em;
			top: 0.1em;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 1px;
				left: 35%;
				top: 15%;
				transform: rotate(25deg);
				background: currentColor;
			}
			&::after {
				content: "8";
				grid-column: 2;
				grid-row: 2;
			}
		}

		&-difference {
			font-size: 0.8em;
			margin-left: 6px;
			align-self: center;

			&-better {
				color: color(good);
			}
			&-worse {
				color: color(bad);
			}
		}
	}

	&-sort-stat-total {
		position: relative;
		padding-left: calc(1em + 3px) !important;
		width: fit-content;
		justify-self: flex-end;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			height: 0.2em;
			left: 3px;
			background: currentColor;
			box-shadow: 0 1px 1px #000a;
		}

		&::before {
			top: 0.4em;
			width: 0.8em;
		}
		&::after {
			bottom: 0.4em;
			width: 0.5em;
		}
	}

	&-stat-distribution {
		&-value {
			color: gradient-mix(in lch, var(--value), #9e4949, #e04d4d 50%, #ff0 75%, #4eff13);
			text-shadow: none;
			font-weight: 600;
		}
	}

	&-loading {
		z-index: $z-index-loading;
		background: color(background-0, 0.8);
	}

	&-sort-ammo-type {
		height: 60%;
		min-height: 0;
		background-color: #0007;
		box-shadow: 0 0 0 3px #0007;
		margin-right: 1px;
	}

	&-sort-damage-type {
		height: 60%;
		min-height: 0;
		background-color: #0007;
		box-shadow: 0 0 0 3px #0007;
		margin-right: 1px;
	}

	&-moving {
		opacity: 0.5;
		transform: none;
		&::before {
			animation: item-moving-original-animation 1.5s linear infinite;
			@include blur-disables-animation;
			@keyframes item-moving-original-animation {
				0% {
					inset: -3px;
					opacity: 1;
				}
				30% {
					inset: -5px;
					opacity: 0.7;
				}
				50% {
					inset: -6px;
					opacity: 0;
				}
				70% {
					inset: 2px;
					opacity: 0;
				}
				100% {
					inset: -3px;
					opacity: 1;
				}
			}
		}

		&::after {
			background: none;
		}

		&-placeholder {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: calc(var(--slot-size) * 0.8 - var(--slot-padding) * 2);
			height: calc(var(--slot-size) * 0.8 - var(--slot-padding) * 2);
			transform: var(--transform) translate(-50%, -50%);
			transition-property: background, border, color;
		}
	}

	&-weapon-type-icon {
		display: inline-block;
		position: relative;
		width: 2em;
		height: 1em;
		justify-self: flex-end;

		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background: currentColor;
			-webkit-mask-image: var(--icon);
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-image: var(--icon);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
		}

		padding: 0 !important;
		background-color: #0007;
		box-shadow: 0 0 0 3px #0007;
		margin-right: 1px !important;
	}

	&-quantity,
	&-power-level {
		&:not(:has(+ .item-extra-info)) {
			grid-row: 3;
		}
	}

	&-quantity {
		display: block !important;
		background: #0007;
		padding: 0 3px;
		margin-right: -2px;

		&-max {
			box-shadow:
				inset 0 0 0 1px #0007,
				inset 0 0 0 2px color(warning);
			color: color(warning);
		}
	}
}
