.item-stat {
	&-wrapper {
		padding: var(--tooltip-padding);
		padding-right: 1.5em;
		padding-left: 1.5em;
		background: color(tooltip-background);
		border: 1px solid rgba(white, 0.25);
		border-left: none;
		border-right: none;
		display: grid;
		grid-template-columns: auto 1fr repeat(3, auto);
		column-gap: 0.5em;
		row-gap: 2px;
		align-items: center;

		&-other-stats {
			display: contents;
		}
	}

	display: contents;

	&-label {
		text-align: right;
		color: color(foreground-2);
		grid-column: 1;
	}

	&-bar {
		grid-column: 2;
		background: #fff1;
		height: 1.1em;
		position: relative;
		top: 1px;
		display: flex;
		overflow: hidden;
		&-block {
			height: 100%;
			width: calc(100% * var(--value));
			background: currentColor;
			flex-shrink: 0;
			&-negative {
				display: contents;
				&::before,
				&::after {
					position: relative;
					content: "";
					height: 50%;
					top: 50%;
					width: calc(100% * var(--value) * -1);
					margin-left: calc(100% * var(--value));
					background: #983232;
					flex-shrink: 0;
				}
				&::after {
					transform: translateX(calc(100% / (var(--value) * -1) + 1px));
				}
			}
		}

		&-recoildirection {
			background: none;
			circle {
				fill: #fff1;
			}

			path {
				fill: currentColor;
			}

			line {
				stroke: currentColor;
				stroke-width: 0.1;
			}
		}
	}

	&-masterwork {
		color: #ceae32;
	}

	&-mod {
		color: #58a6ff;
	}

	&-value {
		display: flex;
		gap: 0.5em;
		text-align: right;

		&-component {
			&:empty {
				display: none;
			}
		}

		:root:not(.show-extra-info) & {
			&-component {
				display: none;
			}
		}

		&-component-negative {
			color: #983232;
			font-weight: 600;
		}
	}

	&-bar ~ &-value {
		display: contents;
	}

	:root.show-extra-info &-combined {
		display: none;
	}

	&-formula {
		display: flex;
		gap: 0.5em;
	}

	&-distribution {
		&-component,
		& .item-stat-combined {
			color: gradient-mix(in lch, var(--value), #9e4949, #e04d4d 50%, #ff0 75%, #4eff13);
			text-shadow: none;
			font-weight: 600;
		}
	}
}
