.item-plug-tooltip {
	&-description {
		white-space: pre-wrap;
	}

	&-perk {
		background: color(perk-tooltip-background, 0.85);
	}

	&-exotic {
		background: color(tier-exotic-background, 0.85);
	}

	&-enhanced {
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			max-height: 69px;
			background: linear-gradient(-45deg, transparent 35%, #fff 50%, transparent 65%), #d4b73c;
			background-size: 400% 400%;
			animation: flash 2s linear infinite reverse;
			@include blur-disables-animation;
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("./image/masterworktooltip.png");
			mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("./image/masterworktooltip.png");
		}
	}
	
	&-clarity {
		background: color(tooltip-clarity-background);
		padding: var(--tooltip-padding);
		
		border-top: color(tooltip-clarity-border) 2px solid;
		
		&-url {
			color: color(tooltip-clarity-url);
		}
		
		&-title {
			display: flex;
			position: relative;
			align-items: center;
			gap: 0.3em;
			font-size: .8em;
			color: color(tooltip-clarity-url);
			margin-bottom: 0.5em;
		}
		
		&-logo {
			height: 1.4em;
			position: relative;
		}
		
		&-label {
			color: color(foreground, .7);
			font-size: .95em;
			margin-bottom: .3em;
		}
		
		&-numeric {
			color: color(foreground);
			font-weight: bold;
		}
		
		&-stack-size-separator {
			color: color(foreground, .7);
			font-size: 1.6em;
			margin: -0.26em 0.1em;
			display: inline-block;
			vertical-align: top;
		}
		
		&-label &-stack-size-separator {
			margin: -0.3em 0.1em;
		}
		
		&-enhanced {
			&-arrow {
				display: inline-block;
				position: relative;
				width: .7em;
				vertical-align: top;

				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
				}

				&::before {
					left: -1px;
					top: -4px;
					border: var(--arrow-width, 5px) solid transparent;
					border-bottom-color: #ffed9f;
					border-bottom-width: var(--arrow-height, 6px);
					transform: scaleX(0.8);
				}

				&::after {
					left: var(--arrow-middle-left, 2px);
					top: var(--arrow-middle-top, 4px);
					border: 2px solid transparent;
					border-top-color: #ffed9f;
					border-top-width: var(--arrow-length, 20px);
					border-bottom-width: 0;
					-webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					transform: scaleX(0.9);
				}
			}
			
			&-line {
				margin: -8px -12px;
				padding: var(--tooltip-padding);
				padding-left: 27px;
				position: relative;
				box-shadow:
					inset 1px 0 color(tooltip-background),
					inset 4px 0 #d4b73c;
				background-image: linear-gradient(to right, rgba(#d4b73c, 0.25) 0%, transparent 40%);
				position: relative;

				&::before {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					background: linear-gradient(-45deg, transparent 40%, rgba(#d4b73c, 0.1) 50%, transparent 65%);
					background-size: 500% 500%;
					animation: flash 4s linear infinite reverse calc(var(--socket-index, 0) * 0.5s);
					@include blur-disables-animation;
				}
			}
			
			&-line &-arrow {
				position: absolute;
				left: 10px;
				top: calc(50% - var(--arrow-length) / 2);
				--arrow-width: 6.5px;
				--arrow-height: 8.5px;
				--arrow-length: 23px;
				--arrow-middle-left: 3px;
				--arrow-middle-top: 8px;
			}
		}
	}
}
