.item-plug-tooltip {
	&-description {
		white-space: pre-wrap;
	}

	&-perk {
		background: color(perk-tooltip-background, 0.85);
	}

	&-exotic {
		background: color(tier-exotic-background, 0.85);
	}

	&-enhanced {
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			max-height: 69px;
			background: linear-gradient(-45deg, transparent 35%, #fff 50%, transparent 65%), #d4b73c;
			background-size: 400% 400%;
			animation: flash 2s linear infinite reverse;
			@include blur-disables-animation;
			-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("./image/masterworktooltip.png");
			mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
				url("./image/masterworktooltip.png");
		}
	}
	
	&-clarity {
		background: color(tooltip-clarity-background);
		padding: var(--tooltip-padding);
		
		border-top: color(tooltip-clarity-border) 2px solid;
		
		&-url {
			color: color(tooltip-clarity-url);
		}
		
		&-title {
			display: flex;
			position: relative;
			align-items: center;
			gap: 0.3em;
			font-size: .8em;
			color: color(tooltip-clarity-url);
			margin-bottom: 0.5em;
		}
		
		&-logo {
			height: 1.4em;
			position: relative;
		}
	}
}
