.item-subclass-tooltip {

	@each $damage-type in $damage-types {
		&-damage-type-#{$damage-type} .tooltip-header {
			background: color(damage-type-#{$damage-type}-background, 0.85);
		}
	}
	
	&-header {
		grid-template-columns: 50px 1fr auto;
	}
	
	&-title {
		grid-column: 2/4;
	}
	
	&-subtitle {
		grid-column: 2;
	}
	
	&-damage-type-icon {
		grid-column: 1;
		grid-row: 1/3;
		height: 46px;
		width: 46px;
		background: var(--icon);
		background-size: contain;
		background-position: center;
		margin-left: -8px;
		place-self: center;
	}
	
	&-super {
		margin: var(--tooltip-padding-negated);
		margin-bottom: var(--tooltip-padding-y);
		display: grid;
		grid-template-areas: "stack";
		
		&-image, &-name {
			grid-area: stack;
		}
		
		&-image {
			width: 100%;
		}
		
		&-name {
			font-family: $font-title;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0;
			align-self: end;
			padding: var(--tooltip-padding);
			z-index: 1;
		}
		
		&::after {
			content: "";
			display: block;
			inset: 0;
			grid-area: stack;
			background: linear-gradient(to bottom, transparent 35%, #0003 75%, #000c);
		}
	}
	
	&-flavour {
		font-style: italic;
	}
}
