.item-stat {
	&-wrapper {
		padding: var(--tooltip-padding);
		padding-right: 1.5em;
		padding-left: 1.5em;
		background: color(tooltip-background);
		border: 1px solid rgba(white, 0.25);
		border-left: none;
		border-right: none;
		display: grid;
		grid-template-columns: auto auto 1fr repeat(3, auto);
		column-gap: 0.5em;
		row-gap: 2px;
		align-items: center;

		&-other-stats {
			display: contents;
		}
	}

	display: contents;

	&-label {
		text-align: right;
		color: color(foreground-2);
		grid-column: 2;
	}

	&-distribution &-label {
		grid-column: 1/3;
	}

	&-group-label {
		position: relative;
		margin-top: 10px;
		margin-bottom: -10px;
		grid-column: 1;
		font-size: 12px;
		--color: #{gradient-mix(in lch, var(--value), #9e4949, #e04d4d 50%, #ff0 75%, #4eff13)};
		color: var(--color);
		transition: 100ms color linear;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			transition:
				100ms height 50ms linear,
				100ms width 130ms linear,
				100ms border-color 100ms linear;
		}

		&::before {
			left: 50%;
			bottom: calc(100% + 2px);
			width: 8px;
			height: 3px;
			border-top: 1px solid var(--color);
			border-left: 1px solid var(--color);
		}

		&::after {
			left: 50%;
			top: calc(100% + 2px);
			width: 8px;
			height: 30px;
			border-bottom: 1px solid var(--color);
			border-left: 1px solid var(--color);
		}

		:root:not(.show-extra-info) & {
			color: transparent;
			transition: 100ms color 180ms linear;

			&::before,
			&::after {
				border-color: transparent;
				transition:
					100ms height 80ms linear,
					100ms width linear,
					100ms border-color 130ms linear;
				height: 0px;
				width: 0px;
			}
		}
	}

	&-bar {
		grid-column: 3;
		background: #fff1;
		height: 1.1em;
		position: relative;
		top: 1px;
		display: flex;
		overflow: hidden;
		&-block {
			height: 100%;
			width: calc(100% * var(--value));
			background: currentColor;
			flex-shrink: 0;
			&-negative {
				display: contents;
				&::before,
				&::after {
					position: relative;
					content: "";
					height: 50%;
					top: 50%;
					width: calc(100% * var(--value) * -1);
					margin-left: calc(100% * var(--value));
					background: #983232;
					flex-shrink: 0;
				}
				&::after {
					transform: translateX(calc(100% / (var(--value) * -1) + 1px));
				}
			}
		}

		&-recoildirection {
			background: none;
			circle {
				fill: #fff1;
			}

			path {
				fill: currentColor;
			}

			line {
				stroke: currentColor;
				stroke-width: 0.1;
			}
		}
	}

	&-masterwork {
		color: #ceae32;
	}

	&-mod {
		color: #58a6ff;
	}

	&-value {
		display: flex;
		gap: 0.5em;
		text-align: right;

		&-component {
			&:empty {
				display: none;
			}
		}

		:root:not(.show-extra-info) & {
			&-component {
				display: none;
			}
		}

		&-component-negative {
			color: #983232;
			font-weight: 600;
		}
	}

	&-bar ~ &-value {
		display: contents;
	}

	:root.show-extra-info &-combined {
		display: none;
	}

	&-formula {
		display: flex;
		gap: 0.5em;
	}

	&-distribution {
		&-component,
		& .item-stat-combined {
			color: gradient-mix(in lch, var(--value), #9e4949, #e04d4d 50%, #ff0 75%, #4eff13);
			text-shadow: none;
			font-weight: 600;
		}

		&-component {
			padding-right: 8px;
			position: relative;
			&-group-label {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 12px;
			}
		}
	}
}
