.item-stat-tracker {
	display: grid;
	grid-column: 1/3;
	grid-template-columns: auto 1fr auto;
	font-size: 17px;
	&-icon {
		width: 24px;
		height: 24px;
		background: var(--icon);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 1px;
	}
	
	&-label {
		padding-left: 8px;
		align-self: center;
	}
	
	&-value {
		color: color(tier-exotic);
		align-self: center;
		margin-left: .7em;
	}
	
	.item-tooltip-weapon-level.hidden + & {
		margin-top: -6px;
	}
}
