.item-filter {
	&-button {
		--icon: url("/image/svg/filter.svg");
		cursor: text !important;
	}
	
	&-input {
		outline: none;
		@include transition(in, line-height);
		&:not(:empty) {
			line-height: 1.7em;
		}
		&:empty::before {
			content: "No filter enabled";
			font-style: italic;
			color: color(foreground-3);
		}
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		scrollbar-width: thin;
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			&-thumb {
				background: color(background-8);
				&:hover {
					background: color(background-9);
				}
				&:active {
					background: color(background-7);
				}
			}
		}
	}
	
	&:focus-within &-button {
		outline: auto;
	}
	
	&-chip {
		background: var(--colour, transparent);
		color: color(foreground-0);
		padding: 2px 4px;
		&-prefix {
			color: color(foreground-0, .6);
		}
		
		&-value {
			padding-left: 0;
		}
		
		&-raw {
			padding: 0;
		}
	}
}