.item-tooltip {
	&,
	&-extra {
		--tooltip-width: 440px;
	}

	@each $tier in $tiers {
		&-tier-#{$tier} .tooltip-header {
			background: color(tier-#{$tier}-background, 0.85);
		}
	}

	&-moment-watermark {
		position: absolute;
		top: 0;
		right: 0;
		border-right: 44px solid #0008;
		border-bottom: 44px solid transparent;
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 75px;
			height: 75px;
			left: 21px;
			top: 3px;
			background: white;
			mask-image: var(--icon);
			mask-mode: luminance;
			mask-size: contain;
		}
		
		&--sunset {
			border-right-color: color(sunset);
			&::before {
				background: black;
			}
		}
	}

	.tooltip-header {
		> * {
			z-index: 1;
		}
	}

	&-masterwork {
		--masterwork-color: #{color(masterwork)};
		> .tooltip-header {
			&::before {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
				max-height: 69px;
				background: linear-gradient(-45deg, transparent 35%, #fff 50%, transparent 65%), var(--masterwork-color);
				background-size: 400% 400%;
				animation: flash 2s linear infinite reverse;
				@include blur-disables-animation;
				-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
					url("./image/masterworktooltip.png");
				mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 69"><polygon points="0,0 100,0 100,4 0,4" fill="black"/></svg>'),
					url("./image/masterworktooltip.png");
			}
		}
	}
	
	&-artifact {
		--masterwork-color: #{color(artifact)};
	}

	&-content {
		background: none;
		padding: 0;
	}

	&-primary-info {
		display: grid;
		grid-template-columns: auto 1fr;
		row-gap: 0.5em;
		padding: var(--tooltip-padding);
		background: color(tooltip-background);
	}

	&-primary-stat {
		text-transform: uppercase;
		display: inline-flex;
		margin: 4px 0;

		&-value {
			font-size: 44px;
			font-weight: 700;
			line-height: 28px;
			letter-spacing: -0.02em;
			@include grotesk(numeric) {
				font-size: 48px;
				line-height: 34px;
				letter-spacing: 0;
			}
		}

		&-damage {
			color: var(--colour);
			display: flex;
			&-icon {
				display: inline-block;
				width: 0.75em;
				height: 0.75em;
				align-self: center;
				margin-right: 0.15em;
			}
		}

		&-has-element-right::after {
			content: "";
			display: block;
			width: 2px;
			height: 90%;
			align-self: center;
			margin: 0 calc(32pt * 0.3);
			background: white;
			opacity: 0.25;
		}

		&-label {
			margin-left: 10px;
		}
	}

	&-energy-type {
		font-size: 1.1em;
		line-height: 1em;
	}

	&-energy {
		display: flex;
		text-transform: uppercase;
		align-items: center;

		&-value {
			display: flex;
			font-size: 1.6em;
			font-weight: 600;
			margin-right: 0.25em;
			transform: translateY(0.03em);
			align-items: center;
			@include grotesk(numeric) {
				
			}

			&::before {
				content: "";
				display: block;
				background: url("./image/svg/masterwork.svg");
				background-size: contain;
				background-repeat: no-repeat;
				width: 0.6em;
				height: 0.6em;
				margin-right: 0.05em;
				transform: translateY(-0.03em);
			}
		}
	}

	&-note {
		display: flex;
		gap: 0.5em;
		font-size: 15px;
		background: color(tooltip-note-background, 0.85);
		border-top: 2px solid color(tooltip-note-border);
		border-left: none;
		border-right: none;
		padding: var(--tooltip-padding);
		align-items: center;

		&-heading {
			border-bottom: none;
		}
	}

	&-deepsight {
		background: color(deepsight-tooltip-background, 0.85);
		border-color: color(deepsight-tooltip-border);
		font-size: 14px;
		&::before {
			content: "";
			display: block;
			width: 0.85em;
			height: 0.85em;
			@include mask-icon(shaped);
			position: relative;
			top: 1px;
		}

		&-pattern {
			&-label {
				flex-grow: 1;
			}

			&-number {
				font-weight: 700;
			}

			&-out-of {
				display: flex;
				align-items: center;
				gap: 0.5em;
				opacity: 0.5;
			}
		}
	}

	&-enhance {
		&::before {
			content: "";
			display: block;
			width: 0.85em;
			height: 0.85em;
			@include mask-icon(enhanced);
			position: relative;
			top: 1px;
		}

		background: color(enhance-tooltip-background, 0.85);
		border-color: color(enhance-tooltip-border);
	}

	&-wishlist {
		&::before {
			content: "";
			display: block;
			width: 0.85em;
			height: 0.85em;
			@include mask-icon(delete);
			position: relative;
			top: 1px;
		}

		background: color(wishlist-tooltip-background-no-match, 0.85);
		border-color: color(wishlist-tooltip-border-no-match);
		&ed {
			background: color(wishlist-tooltip-background, 0.85);
			border-color: color(wishlist-tooltip-border);

			&::before {
				@include mask-icon(wishlisted);
			}
		}
	}
	
	&-fomo {
		background: color(fomo-tooltip-background, 0.85);
		border-color: color(fomo-tooltip-border);
		
		&::before {
			content: "";
			display: block;
			width: 1em;
			height: 1em;
			@include mask-icon("./image/png/notification/seasonal.png");
			position: relative;
		}
	}

	&-progress-bar {
		color: color(foreground-0);
		background: color(background-0, 0.55);
		display: grid;
		grid-template-columns: 1fr auto;
		position: relative;
		padding: 2px 4px 2px 6px;
		z-index: 1;
		grid-column: 1/5;
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			right: calc(100% * (1 - var(--progress)));
			background: var(--progress-bar-background, #5da569);
			z-index: -1;
		}
	}

	&-weapon-level {
		--progress-bar-background: #d35137;
		text-shadow: 1px 2px 0.05em #0008;
	}
	
	&-catalyst {
		--progress-bar-background: #{color(tier-exotic-background, 0.85)};
	}

	&-mod {
		&s {
			--mod-padding: 4px;

			.item-tooltip-note + & {
				box-shadow: none;
				padding-top: 0;
			}
		}

		position: relative;
		display: grid;
		grid-template-columns: auto;
		grid-auto-columns: 1fr;
		grid-template-rows: 1fr auto;
		align-items: center;
		column-gap: 0.5em;

		&s-detailed & {
			align-items: start;
		}
		
		&-has-name {
			flex-grow: 1;
		}
		
		&-has-description {
			grid-template-rows: auto auto 1fr;
		}

		&-name,
		&-description {
			grid-column: 2;
		}

		&-description {
			font-size: 0.75em;
			opacity: 0.7;
			margin-top: -2px;
			white-space: pre-wrap;
			grid-row: 2/4;
		}

		&-socket {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: 1fr;
			background: color(tooltip-background);
			padding: var(--tooltip-padding);
			padding-top: var(--mod-padding);
			padding-bottom: var(--mod-padding);

			&-definition {
				display: flex;
				flex-wrap: wrap;
				row-gap: var(--mod-padding);
			}

			&-enhanced {
				box-shadow:
					inset 1px 0 color(tooltip-background),
					inset 4px 0 #d4b73c;
				background-image: linear-gradient(to right, rgba(#d4b73c, 0.25) 0%, transparent 40%);
				position: relative;
				
				&.item-tooltip-mod-intrinsic {
					background-color: transparent;
					background-image: linear-gradient(to right, rgba(#574a0f, 0.85) 0%, color(tooltip-background-alt) 40%);
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					background: linear-gradient(-45deg, transparent 40%, rgba(#d4b73c, 0.1) 50%, transparent 65%);
					background-size: 500% 500%;
					animation: flash 4s linear infinite reverse calc(var(--socket-index, 0) * 0.5s);
					@include blur-disables-animation;
				}
			}
		}

		&-intrinsic {
			background: color(tooltip-background-alt);
		}

		&-icon {
			width: 30px;
			height: 30px;
			background: var(--icon);
			background-size: contain;
			background-repeat: no-repeat;
			grid-row: 1/3;
			grid-column: 1;
		}

		&-required-level {
			grid-column: 1;
			grid-row: 1/3;
			place-self: end;
			position: relative;

			z-index: 1;
			&::before {
				content: "";
				background: var(--required-level-background, #{color(background-2, 0.9)});
				border: 1px solid var(--required-level-border, #{color(background-4)});
				transform: rotate(45deg);
				bottom: -2px;
				right: -1px;
				position: absolute;
				width: 12px;
				height: 12px;
				z-index: -1;
			}

			text-align: center;
			font-family: $font-title;
			font-weight: 700;
			font-size: 12px;
			width: 12px;
			height: 12px;
			right: 0;
			bottom: 1px;
			color: var(--required-level-color, inherit);
			
			&-adept {
				--required-level-background: #{color(deepsight-tooltip-background)};
				--required-level-border: #{color(deepsight-tooltip-border)};
			}
		}

		&-enhanced {
			--required-level-background: #685a00;
			--required-level-border: #ccae28;

			&-arrow {
				position: absolute;
				top: 0;
				left: 0;

				&::before,
				&::after {
					content: "";
					display: block;
					position: absolute;
					z-index: 1;
				}

				&::before {
					left: -1px;
					top: -4px;
					border: 3.5px solid transparent;
					border-bottom-color: #ffed9f;
					border-bottom-width: 4px;
					transform: scaleX(0.8);

					.item-tooltip-mod-intrinsic & {
						left: -4px;
					}
				}

				&::after {
					left: 1px;
					top: 1px;
					border: 1.5px solid transparent;
					border-top-color: #ffed9f;
					border-top-width: 20px;
					border-bottom-width: 0;
					-webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
					transform: scaleX(0.9);

					.item-tooltip-mod-intrinsic & {
						left: -2px;
					}
				}
			}
		}
	}

	&-description {
		white-space: pre-wrap;
		grid-column: 1/3;
	}

	&-flavour {
		text-transform: none;
		font-style: italic;
		font-size: inherit;
		line-height: 1.2em;
		white-space: pre-wrap;
		font-family: $font-sans-serif;
		font-weight: 400;
	}

	@each $icon in lock, unlock {
		&-#{$icon}ed {
			width: 1.3em;
			height: 1.3em;
			color: color(foreground-0);
			@include mask-icon($icon);
			order: 2;
			margin-left: 0.2em;
		}
	}
	
	&-perk {
		&s {
			&:empty {
				display: none;
			}
			
			margin: .5em 0;
		}
		
		display: grid;
		grid-template-columns: auto 1fr;
		gap: .5em;
		align-items: center;
		
		&-icon {
			width: 2em;
			height: 2em;
			@include icon;
		}
		
		&-description {
			color: color(foreground-3);
			font-size: .95em;
			position: relative;
			top: -0.1em;
		}
	}
	
	&-notification {
		&s {
			&:empty {
				display: none;
			}
			
			border-top: 2px solid rgba(white, 0.25);
			background: color(tooltip-background);
			padding: var(--tooltip-padding);
			display: grid;
			gap: .8em;
		}
		
		display: grid;
		grid-template-columns: 1em 1fr;
		gap: .5em;
		&-icon {
			@include icon;
			width: 1em;
			height: 1em;
			justify-self: center;
			position: relative;
			top: .2em;
		}
		
		&-description {
			font-size: .98em;
			white-space: pre-wrap;
		}
		
		&-style {
			&-seasonal {
				color: #db8a39;
				--icon: url("image/png/notification/seasonal.png");
			}
			&-info {
				--icon: url("image/png/notification/info.png");
			}
			&-warning {
				color: #c77f43;
				--icon: url("image/png/notification/warning.png");
			}
		}
	}
	
	&-source {
		&-activity {
			&-wrapper {
				background: var(--tooltip-background);
				padding: var(--tooltip-padding);
			}
			
			display: grid;
			grid-template-columns: auto;
			grid-auto-columns: 1fr;
			grid-template-rows: 1fr auto;
			column-gap: 0.5em;
			
			&::before {
				content: "";
				width: 30px;
				height: 30px;
				background: var(--icon);
				background-size: contain;
				background-repeat: no-repeat;
				grid-row: 1/3;
				grid-column: 1;
			}
			
			&-name, &-description, &-phase-wrapper {
				grid-column: 2;
			}
			
			&-description {
				font-size: 0.75em;
				opacity: 0.7;
				margin-top: -2px;
				white-space: pre-wrap;
			}
			
			&-phase {
				&-wrapper {
					font-size: 0.9em;
					padding-top: 4px;
					display: flex;
					flex-direction: column;
					gap: 4px;
				}
				
				position: relative;
				padding-left: calc(24px + 0.5em);
				
				&-name, &-description {
					grid-column: 2;
				}
				
				&-name {
					margin-bottom: .1em;
					display: flex;
					align-items: center;
				}
				
				&-chance {
					font-size: 0.8em;
					opacity: .6;
					font-weight: bold;
					margin-left: 1em;
					grid-column: 2;
					&--wishlisted {
						opacity: 1;
						color: color(wishlist-tooltip-border);
						&::before {
							content: "";
							@include mask-icon(url("./image/svg/wishlisted.svg"));
							width: 1em;
							height: 1em;
							display: inline-block;
							top: .05em;
							margin-right: .2em;
							position: relative;
						}
					}
				}
				
				&-description {
					font-size: 0.8em;
					opacity: 0.7;
					margin-top: -2px;
					white-space: pre-wrap;
					display: flex;
					align-items: center;
				}
				
				&-index {
					position: absolute;
					opacity: .2;
					font-weight: bold;
					font-size: 1.8em;
					left: .1em;
					top: -.1em;
					font-family: $font-title;
					width: 1em;
					text-align: center;
				}
			}
			
			&-challenge {
				display: grid;
				grid-template-columns: auto;
				grid-auto-columns: 1fr;
				grid-template-rows: auto 1fr;
				column-gap: 0.5em;
				
				&::before {
					content: "";
					width: 24px;
					height: 24px;
					background: var(--icon);
					background-size: contain;
					background-repeat: no-repeat;
					grid-row: 1/3;
					grid-column: 1;
					position: relative;
					top: 4px;
				}
				
				&-phase-index {
					opacity: .7;
					font-weight: bold;
					&::after {
						content: "/";
						opacity: .5;
						margin: 0 .5em;
					}
				}
			}
			
			&-required-item {
				&-label {
					color: color(foreground-4);
					text-transform: uppercase;
					font-size: .8em;
					font-weight: bold;
					letter-spacing: 1px;
					font-family: $font-title;
				}
				&-description {
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					font-size: 0.8em;
					opacity: 0.7;
					margin-top: -2px;
				}
			}
		}
	}
	
	&-stat {
		&s {
			font-weight: 400;
			text-shadow: none;
			padding: var(--tooltip-padding);
			padding-right: 1.5em;
			padding-left: 1.5em;
			background: color(tooltip-background);
			border: 2px solid rgba(white, 0.25);
			border-left: none;
			border-right: none;
		}
		
		&-label {
			color: color(foreground-3);
		}
	}
	
	&-loadout {
		&s {
			&-wrapper {
				display: grid;
				grid-template-columns: auto 1fr;
				&::before {
					content: "";
					width: 30px;
					height: 30px;
					mask-image: url("image/svg/loadouts.svg");
					mask-size: contain;
					mask-repeat: no-repeat;
					-webkit-mask-image: url("image/svg/loadouts.svg");
					-webkit-mask-size: contain;
					-webkit-mask-repeat: no-repeat;
					background: #fff5;
					align-self: start;
				}
			}
			
			display: flex;
			flex-wrap: wrap;
			gap: 0.5em;
		}
		
		--size: 30px !important;
	}
}
