.item-filter {
	&-button {
		--icon: url("./image/svg/filter.svg");
		cursor: text !important;
		grid-template-columns: auto 1fr auto;
	}

	&-input {
		outline: none;
		@include transition(in, line-height);
		&:not(:empty) {
			line-height: 1.7em;
		}
		&:empty::before {
			content: "No filter enabled";
			font-style: italic;
			color: color(foreground-3);
		}
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		scrollbar-width: thin;
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			&-thumb {
				background: color(background-8);
				&:hover {
					background: color(background-9);
				}
				&:active {
					background: color(background-7);
				}
			}
		}
	}

	&:focus-within &-button {
		outline: auto;
	}

	&-heading {
		text-transform: uppercase;
		pointer-events: none;
		font-size: 0.7em;
	}

	&-suggested {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		padding-top: 0.6em;
	}

	$darken: #0005;
	&-chip {
		background: var(--colour, transparent);
		border: 1px solid var(--colour, transparent);
		background-image: linear-gradient(0, $darken 0%, $darken 100%);
		color: color(foreground-0);
		padding: 1px 4px 2px;
		&-prefix {
			color: color(foreground-0, 0.6);
			border-right: none;
		}

		&-value {
			padding-left: 0;
			border-left: none;
		}

		&-raw {
			padding: 0;
			background-image: none;
		}
	}

	&-chip-button {
		background-color: var(--colour, transparent) !important;
		border-color: var(--colour, transparent);
		margin: 0;
		font-size: 0.95em;
		align-items: baseline;
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background: $darken;
			z-index: -1;
		}

		&-prefix {
			color: color(foreground-0, 0.6);
			padding-right: 4px;
		}

		&-value {
			&-hint {
				position: relative;
				font-style: italic;
				font-size: 0.9em;
				opacity: 0.8;
				height: min-content;
				&::before {
					content: "<";
				}
				&::after {
					content: ">";
				}
			}
		}
	}

	&-chip-value,
	&-chip-button-value {
		&-has-mask-icon,
		&-has-icon {
			&::before {
				content: "";
				display: inline-block;
				width: 1em;
				height: 1em;
				margin-right: 0.2em;
				margin-bottom: 0.15em;
				vertical-align: middle;
			}
		}

		&-has-mask-icon::before {
			background: white;
			-webkit-mask-image: var(--icon);
			-webkit-mask-size: contain;
			-webkit-mask-position: center;
			-webkit-mask-repeat: no-repeat;
			mask-image: var(--icon);
			mask-size: contain;
			mask-position: center;
			mask-repeat: no-repeat;
		}
		&-has-icon::before {
			background-image: var(--icon);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&-chip-WeaponType,
	&-chip-button-WeaponType .item-filter-chip-button-value-has-mask-icon {
		&::before {
			width: 2em;
		}
	}

	&-reset {
		grid-column: 3;
		grid-row: 1/5;
		width: 1.5em;
		height: 1.5em;
		display: grid;
		padding: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background: none;
		border: none;

		&::before {
			inset: -3px;
		}
		&:where(:hover, :active, :focus-visible)::before {
			inset: 0px;
		}

		> * {
			display: grid;
			width: 100%;
			height: 100%;
			&::before,
			&::after {
				content: "";
				grid-column: 1;
				grid-row: 1;
				display: block;
				width: 100%;
				height: 100%;
				margin: auto;
				transform: rotate(45deg);
				transform-origin: center;
				background: white;
			}

			&::before {
				height: 2px;
			}
			&::after {
				width: 2px;
			}
		}
	}
}
