.button {
	border-radius: 0;
	position: relative;
	margin: 8px 0;
	padding: 4px 8px 6px;
	cursor: pointer;
	user-select: none;
	background: color(button-background);
	border: 1px solid color(button-border);
	color: color(button-foreground);
	outline: none;
	transform: translateY(0);
	font-size: 1.2em;
	letter-spacing: .02em;
	font-weight: 300;
	@include transition(out, background, border, color, transform);
	
	&::before {
		content: "";
		display: block;
		position: absolute;
		inset: -6px;
		box-shadow: 0 0 0 2px transparent;
		pointer-events: none;
		@include transition(out, inset, box-shadow);
	}
	
	&-attention {
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background: linear-gradient(-45deg, transparent 40%, #fff9 50%, transparent 60%);
			background-size: 600% 600%;
			animation: flash 3s linear infinite;
		}
	}
	
	&:where(:hover, :active, :focus-visible) {
		background: color(button-background-hover);
		border-color: color(button-border-hover);
		color: color(button-foreground-hover);
		@include transition(in);
		
		&::before {
			inset: -3px;
			box-shadow: 0 0 0 2px color(button-border-hover);
			@include transition(in);
		}
		
		&::after {
			animation-iteration-count: 1;
		}
	}
	
	&:active {
		transform: translateY(2px);
		@include transition(0s);
	}
	
	&:where(:active) {
		background: color(button-background-active);
	}
}

@keyframes flash {
	0% {
		background-position-x: 0%;
	}
	20% {
		background-position-x: 0%;
	}
	60% {
		background-position-x: 100%;
	}
	100% {
		background-position-x: 100%;
	}
}