.checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	flex-wrap: wrap;
	
	&-checkbox {
		appearance: none;
		-webkit-appearance: none;
		margin: 0;
		display: block;
		width: 1em;
		height: 1em;
		border: 1px solid currentColor;
		align-self: center;
		--current-inset: -8px;
		--current-opacity: 0;
		order: -1;
		cursor: pointer;
		outline: none;
		position: relative;
		
		&:where(:hover, :focus-visible) {
			--current-inset: -5px;
			--current-opacity: 1;
		}
	
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: var(--current-inset);
			box-shadow: inset 0 0 0 2px white;
			pointer-events: none;
			opacity: var(--current-opacity);
			@include transition(out, inset, box-shadow, transform, opacity);
		}
	
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: 50%;
			pointer-events: none;
			background: white;
			opacity: 0;
			@include transition(out, inset, opacity);
		}
		
		@at-root &:active, .checkbox-label:active + & {
			--current-inset: 50%;
			--current-opacity: 1;
			&::before, &::active {
				animation: none;
				@include transition(in);
			}
		}
		
		&:checked {
			$duration: .6s;
			&::before {
				animation: checkbox-checked-effect $duration linear;
				
				@keyframes checkbox-checked-effect {
					0% {
						inset: 50%;
					}
					8% {
						inset: 40%;
					}
					16% {
						inset: 20%;
					}
					24% {
						inset: 0;
						transform: rotate(0deg);
						opacity: 1;
					}
					32% {
						transform: rotate(70deg);
					}
					40% {
						transform: rotate(120deg);
					}
					48% {
						transform: rotate(150deg);
					}
					56% {
						transform: rotate(170deg);
					}
					64% {
						transform: rotate(175deg);
					}
					72% {
						transform: rotate(180deg);
						opacity: .5;
						inset: -8px;
					}
					90% {
						opacity: .5;
						inset: -8px;
					}
					100% {
						inset: var(--current-inset);
						opacity: var(--current-opacity);
						transform: rotate(180deg);
					}
				}
			}
			&::after {
				animation: checkbox-checked $duration linear;
				inset: max(var(--current-inset), 2px);
				opacity: 1;
				
				@keyframes checkbox-checked {
					0% {
						inset: 50%;
					}
					10% {
						inset: 40%;
					}
					20% {
						inset: 20%;
					}
					30% {
						inset: 2px;
					}
				}
			}
		}
	}
	
	&-label {
		align-self: center;
		margin-left: .4em;
	}
	
	&-description {
		flex-basis: 100%;
		font-style: italic;
		font-size: .8em;
		color: color(foreground-2);
		margin: 0 0 8px;
		padding-top: .4em;
	}
}
