.class-picker {
	&-button {
		transform: rotate(45deg);
		padding: 0;
		aspect-ratio: 1/1;
		--wipe-animation-angle: -45deg;
		// this is some kind of circle thing that i think i can do with css math nowadays given i have the angle
		// but you see, in addition to that, also i'm dumb. so instead here have a multiplier
		--wipe-animation-size-multiplier: 1.4285714285714286;

		&-current {
			grid-column: 2;
			grid-row: 2;
			width: 70px;
		}

		&-wrapper {
			grid-column: 1;
			grid-row: 1/4;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
	}
}
