.drawer {
	position: absolute;
	display: grid;
    grid-template-rows: 1fr;
	left: 0;
	bottom: 0;
	height: max-content;
	max-height: 70vh;
	@include transition(in, max-height, padding);
	overflow: hidden;
	user-select: none;
	outline: none;
	background: color(background-1);
	@supports(backdrop-filter: blur(5px) brightness(1.5)) {
		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			backdrop-filter: blur(5px) brightness(1.5);
		}
		background: color(background-0, .9);
	}
	
	&.hidden {
		display: grid;
		max-height: 0;
		padding: 0;
		@include transition(out);
		transition-timing-function: ease-in;
		
		> * {
			opacity: 0;
		}
	}
		
	&-panel {
		padding: 10px 15px;
		grid-row: 1;
		grid-column: 1;
		z-index: 1;
		overflow-y: auto;
		min-height: 0;
		@include transition(out, opacity, transform);
		&.hidden {
			display: block;
			opacity: 0;
			transform: translateY(10px);
			pointer-events: none;
		}
	}
}
