.paginator {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	margin: 0 -43px;
	width: fit-content;
	&-button {
		width: 35px;
		height: 100%;
		margin: 0;
		padding: 0;
		background: transparent;
		transform: none;
		@include animation-swipe-up-in-background-color-dodge($important: true) {
			background: #8886;
		}
		border: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		
		&::after {
			z-index: initial;
			mix-blend-mode: color-dodge;
			background: transparent;
			@include animation-swipe-up-in-background-color-dodge {
				background: #555;
			}
			@include transition(out, background);
		}
		
		&-arrow {
			justify-self: center;
			align-self: center;
			border: .4em solid transparent;
			border-left: none;
			border-right: none;
			z-index: 1;
			position: relative;
			color: transparent;
			
			@include animation-swipe-up-in-background-color-dodge {
				color: inherit;
			}
			
			&-prev {
				border-right: .65em solid currentColor;
			}
			&-next {
				border-left: .65em solid currentColor;
			}
		}
		
		&-prev {
			margin-right: 8px;
		}
		&-next {
			margin-left: 8px;
		}
		
		&[disabled] {
			pointer-events: none;
			background: #2226 !important;
		}
		
		&[disabled] &-arrow {
			opacity: .2;
		}
		
		&:hover, &:focus-visible {
			border: 1px solid currentColor;
			background: #8886 !important;
			color: color(foreground-0);
			
			&::after {
				background: #777 !important;
				@include transition(in);
			}
		}
	}
	
	&-page {
		&-wrapper {
			display: grid;
			grid-auto-columns: max-content;
			grid-auto-flow: column;
			overflow-x: auto;
			width: 100%;
			
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	
	&-preview {
		margin-top: 8px;
		height: 3px;
		display: flex;
		justify-content: center;
		gap: 4px;
		grid-column: 1/4;
		
		&-page {
			width: 6px;
			height: 3px;
			background: color(foreground-3);
			opacity: .5;
			@include transition(out, width, background, opacity);
			
			&-current {
				width: 24px;
				background: color(foreground-1);
				opacity: 1;
			}
		}
	}
}
