.sortable-slot {
	padding: 3px 0;
	margin: 2px 0;
	float: left;
	clear: both;
	user-select: none;
	-webkit-user-select: none;
	&::before {
		content: "slot";
		opacity: 0;
	}
}

.sortable-item {
	float: left;
	clear: both;
	display: grid;
	align-items: center;
	padding: 3px;
	margin: 2px 0;
	border-left: 4px solid transparent;
	width: 100%;
	box-sizing: border-box;
	cursor: grab;
	* {
		pointer-events: none;
	}
	button {
		pointer-events: all;
	}
	user-select: none;
	-webkit-user-select: none;
	outline: none;
	touch-action: none;

	&.sortable-moving {
		position: absolute;
		background: var(--color-background);
	}

	i {
		display: inline-block;
		width: 1em;
		height: 0.2em;
		border-top: 1px solid;
		border-bottom: 1px solid;
		opacity: 0.2;
		margin-right: 1em;
	}

	&::before {
		content: "";
		display: block;
		margin-right: 1em;
		width: 1em;
		height: 0.2em;
		border: 1px solid currentColor;
		border-left: none;
		border-right: none;
		@include transition(out, transform);
	}

	&:hover,
	&:focus-visible {
		i {
			opacity: 0.5;
		}

		&::before {
			transform: translateX(0.3em);
			@include transition(in);
		}
	}

	&:focus-visible,
	&.sortable-moving {
		box-shadow: 0 0 0 1px var(--color-input-border-focus);
		border-color: var(--color-input-border-focus);
	}

	&:active {
		cursor: grabbing;
	}
}
