.text-input {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	background: color(button-background, var(--opacity));
	border: 1px solid color(button-border, .3);
	color: color(button-foreground);
	--opacity: .2;
	@include transition(out, background, border, color, transform);

	&::before {
		content: "";
		display: block;
		position: absolute;
		inset: -6px;
		box-shadow: 0 0 0 2px transparent;
		pointer-events: none;
		@include transition(out, inset, box-shadow);
	}
	
	&-input {
		outline: none;
		background: none;
		border: none;
		font: inherit;
		padding: 0 8px;
		
		&::placeholder {
			opacity: .5;
			color: inherit;
			font-style: italic;
		}
	}
	
	&:hover:not(:has(.text-input-clear:hover)), &:has(.text-input-input:focus-visible) {
		position: relative;
		--opacity: .5;
		background: color(button-background-hover, var(--opacity));
		border-color: color(button-border-hover);
		color: color(button-foreground-hover);
		@include transition(in);

		&::before {
			inset: -3px;
			box-shadow: 0 0 0 2px color(button-border-hover);
			@include transition(in);
		}

		&::after {
			animation-iteration-count: 1;
		}
	}
	
	&-clear {
		width: 1.5em;
		height: 1.5em;
		margin: 4px;
		display: grid;
		padding: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background: none;
		border: none;
		
		&.hidden {
			display: grid;
			opacity: 0;
			pointer-events: none;
		}

		&::before {
			inset: -3px;
		}
		&:where(:hover, :active, :focus-visible)::before {
			inset: 0px;
		}

		&1 {
			display: grid;
			width: 100%;
			height: 100%;
			&::before,
			&::after {
				content: "";
				grid-column: 1;
				grid-row: 1;
				display: block;
				width: 100%;
				height: 100%;
				margin: auto;
				transform: rotate(45deg);
				transform-origin: center;
				background: white;
			}

			&::before {
				height: 2px;
			}
			&::after {
				width: 2px;
			}
		}
	}
}
