.app-info {
	&-container {
		display: flex;
	}

	&-drawer {
		top: 0;
		bottom: initial;
		z-index: -1;
		padding-top: var(--nav-height);
		padding-left: 36px !important;
		min-width: 400px;
		padding-bottom: 6px;

		.drawer-close {
			top: initial;
			right: initial;
			top: calc(16px + var(--nav-height));
			left: 11px;
			&::after {
				transform: rotate(225deg);
				top: 6px;
			}

			transition: opacity 0.3s ease-out;
		}

		.drawer-panel {
			overflow: hidden;
			padding-top: 0;
		}
	}

	&-logo {
		&-container {
			position: relative;
			width: var(--nav-height);
		}

		margin: 10px;

		.bungie-api-down & {
			background-image: url("./image/logo-api-down.png");
		}
	}

	&-title {
		font-family: $font-title;
		font-size: 0.9em;
		line-height: 1.05em;
		font-weight: 100;
		letter-spacing: .02em;
		width: 40px !important;
		height: fit-content;
		align-self: center;
		margin-right: 30px;
		.text-logo-sight::before {
			content: none;
		}
		
		.authenticated & {
			width: 65px !important;
		}
	}

	&-api-down-warning {
		.warning-text {
			text-transform: uppercase;
			font-weight: 600;
			font-family: $font-title;
		}

		padding-top: 12px;
		border-bottom: 2px solid color(background-4, 0.6);
	}

	&-row {
		display: flex;
		align-items: center;
		gap: 20px;

		label {
			font-style: italic;
		}
	}

	&-links {
		border: 2px solid color(background-4, 0.6);
		padding-top: 16px;
		margin-bottom: 16px;
		border-left: none;
		border-right: none;
	}

	&-versions {
		text-align: right;
	}
}
