.app-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	$height: 50px;
	height: $height;
	box-sizing: border-box;
	display: flex;
    z-index: 9999999;
	user-select: none;
	
	@at-root .has-app-nav {
		--nav-height: #{$height};
	}
	
	$delay: .02s;
	
	@at-root .app-nav-logo, .app-nav-title, .app-nav-identity-container, .app-nav-destination {
		@include transition(.2s, transform);
		transition-timing-function: cubic-bezier(0,0,.4,1);
	}
	
	&.hidden {
		:where(.app-nav-logo, .app-nav-title, .app-nav-identity-container, .app-nav-destination) {
			@include transition(.4s);
			transform: translateY(-50px);
		}
	}
	
	&-logo {
		margin: 10px;
		pointer-events: none;
	}
	
	&-title {
		font-size: 16pt;
		height: fit-content;
		align-self: center;
		margin-right: 30px;
		transition-delay: $delay;
	}
	
	&-identity {
		&-container {
			position: relative;
			display: flex;
			margin-right: 30px;
			transition-delay: $delay * 2;
		}
		
		font-weight: 500;
		user-select: all;
		height: fit-content;
		align-self: center;
		
		&-username, &-code {
			display: inline;
		}
		
		&-code {
			color: color(accent-0);
		}
	}
	
	&-destinations {
		flex-grow: 1;
		display: flex;
		// justify-content: flex-end;
		margin-right: 10px;
	
		@at-root .app-nav-destination {
			background: none;
			border: none;
			box-shadow: none;
			color: color(foreground-2);
			font-weight: 500;
			margin-right: 30px;
			
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					transition-delay: $delay * 2 + $delay * $i;
				}
			}
			
			&::before {
				box-shadow: none;
				top: auto;
				bottom: -4px;
				left: 50%;
				transform: translateX(-50%);
				width: 0%;
				height: 4px;
				background: currentColor;
				@include transition(out, width);
			}
			
			&:where(:hover, :active, .active, :focus-visible) {
				color: color(foreground-0);
			}
			
			&.active {
				&::before {
					width: 100%;
					@include transition(in);
				}
			}
		}
		
		&-toggle {
			display: none;
		}
		
		@media (max-width: 1100px) {
			position: fixed;
			top: 0;
			right: 0;
			margin-right: 0;
			padding: 10px;
			display: flex;
			flex-direction: column;
			
			&.active {
				background: color(background-2);
			}
			
			&-toggle {
				display: block;
				--button-background: transparent;
				--button-border: transparent;
				width: fit-content;
				align-self: flex-end;
				height: 34px;
				margin-top: 0;
				
				&::after {
					content: "";
					display: block;
					height: 0.4em;
					width: 1.5em;
					box-shadow: 0 0.1em 0 currentColor, 0 -0.1em 0 currentColor;
				}
			}
			
			@at-root .app-nav-destination {
				margin-right: 0;
			}
		
			&:not(.active) .app-nav-destination {
				display: none;
			}
		}
	}
}