.app-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--nav-height);
	box-sizing: border-box;
	display: flex;
    z-index: 9999999;
	user-select: none;
	-webkit-user-select: none;
	background: color(background-2, .3);
	
	&::before {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		backdrop-filter: blur(10px);
		z-index: -1;
	}
	
	
	// @media (max-width: 600px) {
	// 	width: calc(100% - 17px);
	// }
	
	&.hidden {
		display: none;
	}
	
	@at-root .has-app-nav {
		--current-nav-height: var(--nav-height);
	}
	
	$delay: .02s;
	
	@at-root .app-nav-logo-container, .app-nav-title, .app-nav-identity-container, .app-nav-destination {
		@include transition(.2s, transform);
		transition-timing-function: cubic-bezier(0,0,.4,1);
	}
	
	&.hidden {
		:where(.app-nav-logo-container, .app-nav-title, .app-nav-identity-container, .app-nav-destination) {
			@include transition(.4s);
			transform: translateY(-50px);
		}
	}
	
	&-logo {
		&-container {
			position: relative;
			width: var(--nav-height);
			pointer-events: none;
		}
		
		margin: 10px;
	}
	
	&-title {
		font-family: $font-title;
		font-size: .9em;
		line-height: 1.05em;
		font-weight: 100;
		height: fit-content;
		align-self: center;
		margin-right: 30px;
		transition-delay: $delay;
		.text-logo-sight::before {
			content: none;
		}
	}
	
	&-identity {
		&-container {
			position: relative;
			display: flex;
			margin-right: 30px;
			transition-delay: $delay * 2;
		}
		
		font-weight: 600;
		user-select: all;
		-webkit-user-select: all;
		height: fit-content;
		align-self: center;
		
		&-username, &-code {
			display: inline;
		}
		
		&-code {
			color: color(accent-0);
		}
	}
	
	&-destinations {
		flex-grow: 1;
		display: flex;
		// justify-content: flex-end;
		margin-right: 10px;
	
		@at-root .app-nav-destination {
			background: none;
			border: none;
			box-shadow: none;
			color: color(foreground-2);
			font-size: inherit;
			letter-spacing: .04em;
			font-weight: 600;
			margin-right: 20px;
			text-transform: uppercase;
			padding-bottom: 4px;
			
			&:focus-visible {
				outline: auto;
			}
			
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) {
					transition-delay: $delay * 2 + $delay * $i;
				}
			}
			
			&::before {
				box-shadow: none;
				top: auto;
				bottom: -4px;
				left: 50%;
				transform: translateX(-50%);
				width: 0%;
				height: 4px;
				background: currentColor;
				@include transition(out, width);
			}
			
			&:where(:hover, :active, .active, :focus-visible) {
				color: color(foreground-0);
			}
			
			&.active {
				&::before {
					width: 100%;
					@include transition(in);
				}
			}
			
			&-settings {
				margin-left: auto;
				margin-right: 0;
				&::after {
					content: "";
					display: block;
					height: 1.3em;
					width: 1.3em;
					background: currentColor;
					-webkit-mask-image: url("/image/svg/gear.svg");
					-webkit-mask-size: contain;
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
					mask-image: url("/image/svg/gear.svg");
					mask-size: contain;
					mask-repeat: no-repeat;
					mask-position: center;
				}
			}
		}
		
		&-toggle {
			display: none;
		}
		
		@include tablet-or-mobile {
			@at-root .app-nav-destination {
				margin-right: 6px;
			}
			
			position: fixed;
			top: 0;
			right: 0;
			margin-right: 0;
			padding: 10px;
			display: flex;
			flex-direction: column;
			
			&.active {
				background: color(background-4, .9);
				backdrop-filter: blur(5px);
			}
			
			&-toggle {
				display: block;
				--button-background: transparent;
				--button-border: transparent;
				width: fit-content;
				align-self: flex-end;
				height: 34px;
				margin-top: 0;
				
				&::after {
					content: "";
					display: block;
					height: 0.4em;
					width: 1.5em;
					box-shadow: 0 0.1em 0 currentColor, 0 -0.1em 0 currentColor;
				}
			}
			
			@at-root .app-nav-destination {
				margin-right: 0;
				align-self: flex-end;
			}
		
			&:not(.active) .app-nav-destination {
				display: none;
			}
		}
			
		// @media (max-width: 600px) {
		// 	right: 17px;
		// }
	}
}