.background {
	&-surface {
		position: fixed;
		$scale: 0.2;
		--background-surface-scale: #{$scale};
		top: calc(50% - 50% / #{$scale});
		left: calc(50% - 50% / #{$scale});
		width: calc(100% / #{$scale});
		height: calc(100% / #{$scale});
		overflow: scroll;
		transform: scale(#{$scale});
		transform-origin: center center;
		display: grid;
		grid-template-areas: "stack";
		place-items: center;
		pointer-events: none;
		@include view-fade-animation;
	
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	
		&-blur {
			filter: blur(calc((3px * var(--blur)) / #{$scale}));
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: calc(100% + 100% * var(--scroll-amount));
			height: calc(100% + 100% * var(--scroll-amount));
			grid-area: stack;
			@include transition(1s, background);
		}
		
		&--darkened::after {
			background: color(background-2, var(--darkness, 0.5));
		}
		
		&--prismatic::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			z-index: 1;
			background: linear-gradient(105deg, #785bbd 10%, #30417e 30%, #4bbff2 50%, #228a22 70%, #bc742e 90%);
			mix-blend-mode: color;
			opacity: var(--prismatic-vibrancy, 0.5);
		}
	}

	&-image {
		content: "";
		display: block;
		position: absolute;
		min-width: calc(100% + 100% * var(--scroll-amount));
		min-height: calc(100% + 100% * var(--scroll-amount));
		background: var(--wallpaper);
		background-size: cover;
		background-position: center;
		grid-area: stack;
	}
}
