.background {
	&-surface {
		position: fixed;
		$scale: 0.2;
		top: calc(50% - 50% / #{$scale});
		left: calc(50% - 50% / #{$scale});
		width: calc(100% / #{$scale});
		height: calc(100% / #{$scale});
		overflow: scroll;
		transform: scale(#{$scale});
		transform-origin: center center;
		display: grid;
		grid-template-areas: "stack";
		place-items: center;
		pointer-events: none;
		@include view-fade-animation;
	
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	
		&-blur {
			filter: blur(calc(3px / #{$scale}));
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: calc(100% + 100% * var(--scroll-amount));
			height: calc(100% + 100% * var(--scroll-amount));
			grid-area: stack;
			@include transition(1s, background);
		}
		
		&--darkened::after {
			background: color(background-2, 0.5);
		}
	}

	&-image {
		content: "";
		display: block;
		position: absolute;
		min-width: calc(100% + 100% * var(--scroll-amount));
		min-height: calc(100% + 100% * var(--scroll-amount));
		background: var(--wallpaper);
		background-size: cover;
		background-position: center;
		grid-area: stack;
	}
}
