.bucket {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
	
	&-header {
		display: contents;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 50%;
			background: var(--background);
			background-size: cover;
			-webkit-mask-image: linear-gradient(to bottom, black, transparent);
			mask-image: linear-gradient(to bottom, black, transparent);
			z-index: -1;
		}
	}
	
	&-title {
		grid-column: 1/5;
		padding: 4px 12px;
		backdrop-filter: blur(5px) brightness(1.3);
		box-shadow: inset 0 0 0 1px rgba(255 255 255 / .03);
		position: relative;
		padding-left: 40px;
		flex-grow: 1;
		flex-basis: 100%;
		height: fit-content;
	}
	
	&-icon {
		position: absolute;
		height: calc(100% - 12px);
		top: 6px;
		left: 10px;
		aspect-ratio: 1/1;
		background: currentColor;
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-image: var(--icon);
		mask-image: var(--icon);
	}
}
