.card {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr repeat(3, auto);
	position: relative;
	// z-index: 1;
	align-content: flex-start;
	overflow: hidden;
	
	&-icon {
		width: 1.459em;
		height: 1.459em;
		background: currentColor;
		-webkit-mask-image: var(--icon);
		-webkit-mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		mask-image: var(--icon);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
		margin-right: 0.8em;
	}
	
	&-block, &-section {
		
		&-header {
			display: contents;
	
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				grid-column: 1/5;
				grid-row: 1;
				width: 100%;
				height: 150px;
				background: var(--background);
				background-size: cover;
				-webkit-mask-image: linear-gradient(to bottom, black, transparent);
				mask-image: linear-gradient(to bottom, black, transparent);
				// z-index: -1;
				margin-bottom: calc((150px - var(--card-title-height)) * -1);
				pointer-events: none;
			}
	
			&::after {
				position: sticky;
				top: -10px;
				z-index: 1;
				-webkit-mask-image: linear-gradient(
					to bottom,
					black var(--card-title-height),
					transparent calc(var(--card-title-height) + 1px)
				);
				mask-image: linear-gradient(
					to bottom,
					black var(--card-title-height),
					transparent calc(var(--card-title-height) + 1px)
				);
			}
		}
	
		&-title {
			grid-column: 1/5;
			grid-row: 1;
			padding: 3px 12px;
			backdrop-filter: blur(5px) brightness(1.3);
			box-shadow: inset 0 0 0 1px rgba(255 255 255 / 0.03);
			position: relative;
			height: fit-content;
			position: sticky;
			top: -10px;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			letter-spacing: 0.5em;
			font-size: 0.9em;
			font-weight: 500;
			user-select: none;
			-webkit-user-select: none;
			margin-right: -0.5em;
			box-sizing: border-box;
			width: 100%;
	
			:root.environment-dev &::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: var(--card-title-height);
				width: 100%;
				height: calc(100% - var(--card-title-height));
				z-index: 1;
				background: red;
				pointer-events: none;
			}
		}
	
		&-content {
			&-wrapper {
				display: contents;
			}
			
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			overflow: auto;
			max-height: 100%;
			padding: var(--card-content-padding, 8px) var(--card-content-padding, 16px);
		}
	
		@include mobile {
			overflow-y: hidden;
	
			&-content {
				overflow-y: hidden;
			}
		}
	}

	&-section {
		padding-right: 15px;

		&-header {
			background: none;
			-webkit-mask-image: none;
			mask-image: none;

			&::before,
			&::after {
				content: none;
			}
		}

		&-title {
			background: none;
			box-shadow: none;
			backdrop-filter: none;
			&::after {
				opacity: 0;
			}

			@include mobile {
				backdrop-filter: blur(30px);
			}

			justify-content: flex-start;
			letter-spacing: inherit;
			font-family: $font-title;
			font-size: 14pt;
			font-weight: 200;
			border-bottom: 2px solid currentColor;
			padding-left: 0;
			padding-right: 0;
			color: color(foreground-0, 0.5);
			padding-top: 10px;

			&-button {
				background: none;
				padding: 0 calc(8px - 0.1em) 0 8px;
				border: none;
				text-transform: uppercase;
				color: color(accent-0);
				font-weight: 800;
				letter-spacing: 0.1em;
				margin: 0;
				margin-left: auto;

				&:where(:focus-visible, :hover) {
					color: color(foreground-0);
				}

				& ~ & {
					margin-left: 8px;
				}

				&:last-child {
					margin-right: -8px;
				}
			}
		}
	}
	
	&-card {
		display: inline-flex;
		flex-direction: column;
		justify-content: end;
		--card-padding: 16px;
		padding: var(--card-padding);
		width: fit-content;
		
		--swipe-down-out-delay: .3s;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			backdrop-filter: blur(5px);
		}
		
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			// z-index: -1;
			background: transparent;
			mix-blend-mode: color-dodge;
			animation: card-card-dodge-in .3s linear var(--swipe-up-in-animation-end-delay) forwards;
			box-shadow: inset 0 0 0 2px #888;
			
			.view-hidden & {
				display: none;
			}
			
			@keyframes card-card-dodge-in {
				from {
					background: transparent;
				}
				to {
					background: #444;
				}
			}
		}
		
		&-header {
			display: block;
			position: absolute;
			inset: 0;
			@include transition(out, background);
			
			&::before {
				content: "";
				display: block;
				position: absolute;
				inset: 0;
				box-shadow: inset 0 0 0 2px #aaa2;
			}
			
			&::after {
				content: "";
				display: block;
				position: absolute;
				inset: -6px;
				box-shadow: 0 0 0 2px transparent;
				pointer-events: none;
				@include transition(out, inset, box-shadow);
			}
		}
		
		&:hover &-header, &:focus-within &-header {
			@include transition(in);
			background: #fff1;
			
			&::after {
				inset: -3px;
				box-shadow: 0 0 0 2px color(button-border-hover);
				@include transition(in);
			}
		}
		
		&-title, &-content, &-footer {
			z-index: 2;
		}
		
		&-title {
			font-weight: 500;
			font-family: $font-title;
			font-size: 1.1em;
			z-index: 3;
		}
		
		&-background {
			position: absolute;
			inset: 0;
			width: 100%;
			bottom: auto;
			-webkit-mask-image: linear-gradient(to bottom, #000 80%, transparent 100%);
			mask-image: linear-gradient(to bottom, #000 80%, transparent 100%);
		}
		
		&-content {
			position: relative;
			&-wrapper {
				position: relative;
				margin: calc(0px - var(--card-padding));
				padding: var(--card-padding);
				&::before {
					content: "";
					display: block;
					position: absolute;
					inset: 0;
					top: -36px;
					background: #000a;
					-webkit-mask-image: linear-gradient(to top, #000 60%, transparent 100%);
					mask-image: linear-gradient(to top, #000 60%, transparent 100%);
				}
			}
		}
	}
}
