.details {
	&-closed > :not(&-summary) {
		display: none;
		user-select: none;
		pointer-events: none;
	}
	
	&-summary {
		margin: 0;
		margin-top: 0.5em;
		font-family: $font-title;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.3em;
		background: none;
		border: none;
		opacity: 0.5;
		padding-left: 0;
		margin-bottom: 0.5em;
		
		&::before {
			display: none;
		}
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0px;
			height: 2px;
			background: currentColor;
			@include transition(out, width);
		}
		
		&:where(:hover, :active, :focus-visible, .button-selected) {
			opacity: 1;
		}
		
		.details:not(.details-closed) > & {
			opacity: 1;
			&::after {
				width: 100%;
				@include transition(in);
			}
		}
	}
}
