.dialog {
	$animation-time: .4s;
	
	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 10px 0;
		backdrop-filter: blur(10px);
		z-index: -1;
		animation: $animation-time ease-out dialog-in;
	}
	
	width: 100vw;
	background: none;
	border: none;
	outline: none;
	margin: auto;
	padding: 10px 0;
	max-width: none;
	height: fit-content;
	grid-template-rows: auto 1fr auto;
	--max-width: 1200px;
	animation: $animation-time ease-out dialog-in;
	position: relative;
	overflow-x: hidden;
	
	&[open] {
		display: grid;
	}
	
	@keyframes dialog-in {
		from {
			width: 1200px;
		}
	}
	
	@keyframes dialog-in-blur {
		from {
			backdrop-filter: blur(0px);
		}
	}
	
	@keyframes dialog-content-in {
		from {
			opacity: 0;
		}
	}
	
	&::before {
		content: "";
		display: block;
		width: 100%;
		background: color(background-8, .5);
		border-top: 2px solid color(foreground-3);
		height: 16px;
		animation: dialog-content-in $animation-time ease-out;
	}
	
	&-content {
		display: flex;
		flex-direction: column;
		background: color(background-3, .7);
		padding: 0 calc(max(0px, 100% - var(--max-width)) / 2);
		min-height: 0;
		height: 100%;
		position: relative;
		animation: dialog-content-in $animation-time ease-out;
	}
	
	&-title {
		margin: 0;
		margin-top: 20px;
		font-size: 28px;
		text-transform: uppercase;
		animation: $animation-time ease-out dialog-content-in backwards;
		@include grotesk(title) {
			font-weight: 400;
			letter-spacing: .2em;
		}
	}
	
	&-body {
		animation: $animation-time ease-out dialog-content-in backwards;
		padding: 16px 0;
	}
	
	&-hints {
		background: color(background-0, .7);
		display: flex;
		justify-content: end;
		padding: 4px calc(max(0px, 100% - var(--max-width)) / 2);
		animation: dialog-content-in $animation-time ease-out;
		.hint {
			animation: $animation-time ease-out dialog-content-in backwards;
		}
	}
	
	&::backdrop {
		background: #2227;
	}
	
	&--closed {
		overflow: hidden;
		animation: $animation-time ease-in dialog-out forwards;
		
		@keyframes dialog-out {
			from {
				max-height: var(--height-pre-close);
			}
			to {
				max-height: calc(var(--height-pre-close) * .5);
			}
		}
		
		@keyframes dialog-content-out {
			to {
				opacity: 0;
			}
		}
		
		.dialog {
			&-title, &-body, &-hints .hint {
				animation: $animation-time * 0.6 ease-in dialog-content-out forwards;
			}
			
			&-content, &-hints, &::before, &::after {
				background: transparent;
				border-color: transparent;
				transition: background $animation-time ease-in;
			}
		}
			
		&::before, &::after {
			background: transparent;
			border-color: transparent;
			transition: all $animation-time ease-in;
		}
		
		&::after {
			backdrop-filter: none;
		}
	
		&::backdrop {
			animation: $animation-time ease-in dialog-content-out forwards;
			background: transparent;
			transition: background $animation-time ease-in;
		}
	}
}
