.info-block {
	position: relative;
	padding: 20px;
	margin: 20px;

	&,
	&-borders2 {
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border: 1px solid #fff4;
		}
	}

	&::before {
		left: 0;
		top: 0;
		border-right: none;
		border-bottom: none;
	}
	&::after {
		top: 0;
		right: 0;
		border-left: none;
		border-bottom: none;
	}
	&-borders2::before {
		bottom: 0;
		right: 0;
		border-left: none;
		border-top: none;
	}
	&-borders2::after {
		left: 0;
		bottom: 0;
		border-top: none;
		border-right: none;
	}
}
