.player-overview {
	&, &-container {
		display: flex;
		align-content: center;
	}
	
	&-identity {
		
		font-weight: 600;
		user-select: all;
		-webkit-user-select: all;
		height: fit-content;
		align-self: center;
		min-width: 130px;
		text-align: center;
		
		&-username, &-code {
			display: inline;
		}
		
		&-code {
			color: color(accent-0);
		}
	}
	
	&-drawer {
		bottom: initial;
		top: 0;
		left: -20px;
		padding-left: 10px !important;
		padding-right: 10px !important;
		padding-bottom: 10px;
		padding-top: calc(var(--nav-height) + 10px);
		z-index: -1;
		
		.drawer-close {
			top: initial;
			right: initial;
			top: calc(8px + var(--nav-height));
			left: 8px;
			&::after {
				transform: rotate(225deg);
				top: 6px;
			}
			
			transition: opacity .3s ease-out;
			
			@include tablet-or-mobile {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		
		&-panel {
			display: grid !important;
			grid-template-rows: 0px;
			grid-template-columns: max-content;
			overflow: initial;
			column-gap: 0;
			row-gap: 4px;
			padding: 0;
			height: fit-content;
			justify-items: center;
		}
		
		@include tablet-or-mobile {
			position: fixed;
			bottom: 0;
			left: 0;
			height: calc(100% - var(--nav-height));
			padding-bottom: 0;
			max-height: none !important;
			width: calc(100% - 20px);
			
			top: auto !important;
			
			&.hidden {
				bottom: 100%;
			}
			
			&-panel {
				grid-template-columns: initial;
				grid-template-rows: initial;
				grid-auto-flow: row;
				overflow-y: auto;
				height: auto;
				padding-bottom: 10px;
			}
		}
	}
	
	&-slot {
		display: contents;
		@include tablet-or-mobile {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			grid-auto-flow: column;
			justify-items: center;
			width: 100%;
			margin-bottom: 3px;
		}
		
		@include desktop {
			&::before {
				content: attr(data-name);
				text-transform: uppercase;
				display: block;
				white-space: nowrap;
				letter-spacing: 0.04em;
				font-weight: 600;
				padding: 0 18px;
				opacity: 0;
				grid-row: 1;
				background-color: red;
			}
			
			&-overview::before {
				text-transform: none;
				padding: 0;
				padding-right: 20px;
				padding-left: 10px;
				letter-spacing: inherit;
				min-width: 130px;
				text-align: center;
			}
		}
		
		&-overview {
			margin-bottom: 20px;
			padding-top: 30px;
		}
		
		:where(.item-power-level) {
			justify-self: initial;
			
			@include tablet-or-mobile {
				font-size: 1.3em;
			}
		}
	}
	
	&-item {
		--size: 60px;
		width: var(--size);
		height: var(--size);
		
		@include desktop {
			@at-root &, .player-overview-power-total-label {
				&-equipped {
					grid-row: 2;
				}
				
				&-highest-power {
					grid-row: 4;
				}
			}
		}
		
		@include tablet-or-mobile {
			--size: 80px;
		}
		
		&-same {
			position: relative;
			opacity: 0.2;
			
			&::before, &::after {
				content: "";
				display: block;
				position: absolute;
			}
			
			&::before {
				width: calc(var(--size) * .2);
				height: calc(var(--size) * .3);
				background: currentColor;
				left: calc(var(--size) * .4);
				top: calc(var(--size) * .5);
			}
			
			&::after {
				border: calc(var(--size) * .25) solid transparent;
				border-bottom-color: currentColor;
				left: calc(var(--size) * .5);
				transform: translateX(-50%);
			}
			
			@include tablet-or-mobile {
				transform: translateX(-5px) rotate(-90deg);
			}
		}
	}
	
	&-power {
		@include desktop {
			&-equipped {
				grid-row: 3;
			}
			
			&-highest-power {
				grid-row: 5;
			}
		}
		
		&-total {
			justify-self: flex-end;
		
			&-label {
				align-self: flex-end;
				font-family: $font-title;
				letter-spacing: .05em;
				font-weight: 500;
				text-transform: uppercase;
				border-bottom: 2px solid;
				width: 100%;
				opacity: 0.6;
			}
				
			@include tablet-or-mobile {
				justify-self: center;
				
				&-label {
					width: fit-content;
				}
			}
		}
	}
}
