.player-overview {
	&, &-container {
		display: flex;
		align-content: center;
	}
	
	&-identity {
		
		font-weight: 600;
		user-select: all;
		-webkit-user-select: all;
		height: fit-content;
		align-self: center;
		min-width: 130px;
		text-align: center;
		
		&-username, &-code {
			display: inline;
		}
		
		&-code {
			color: color(accent-0);
		}
	}
	
	&-drawer {
		bottom: initial;
		top: 0;
		left: -20px;
		padding: 10px;
		padding-top: calc(var(--nav-height) + 10px);
		z-index: -1;
		
		.drawer-close {
			top: initial;
			right: initial;
			top: calc(8px + var(--nav-height));
			left: 8px;
			&::after {
				transform: rotate(225deg);
				top: 6px;
			}
		}
		
		&-panel {
			display: grid !important;
			grid-template-rows: 0px;
			overflow: initial;
			column-gap: 0;
			row-gap: 4px;
			padding: 0;
			height: fit-content;
			justify-items: center;
		}
	}
	
	&-slot {
		display: contents;
		
		&::before {
			content: attr(data-name);
			text-transform: uppercase;
			display: block;
			white-space: nowrap;
			letter-spacing: 0.04em;
			font-weight: 600;
    		padding: 0 18px;
			opacity: 0;
			grid-row: 1;
		}
		
		&-overview::before {
			text-transform: none;
			padding: 0;
			margin-right: 20px;
			margin-left: 10px;
			letter-spacing: inherit;
			min-width: 130px;
		}
		
		:where(.item-power-level) {
			justify-self: initial;
		}
	}
	
	&-item {
		width: 60px;
		height: 60px;
		
		@at-root &, .player-overview-power-total-label {
			&-equipped {
				grid-row: 2;
			}
			
			&-highest-power {
				grid-row: 4;
			}
		}
		
		&-same {
			position: relative;
			opacity: 0.2;
			
			&::before, &::after {
				content: "";
				display: block;
				position: absolute;
			}
			
			&::before {
				width: 14px;
				height: 30%;
				background: currentColor;
				left: calc(50% - 7px);
				top: 50%;
			}
			
			&::after {
				border: 15px solid transparent;
				border-bottom-color: currentColor;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	
	&-power {
		&-equipped {
			grid-row: 3;
		}
		
		&-highest-power {
			grid-row: 5;
		}
		
		&-total {
			justify-self: flex-end;
		
			&-label {
				align-self: flex-end;
				font-family: $font-title;
				letter-spacing: .05em;
				font-weight: 500;
				text-transform: uppercase;
				border-bottom: 2px solid;
				width: 100%;
				opacity: 0.6;
			}
		}
	}
}
