.profile-button {
	container-name: profile-button;
	container-type: normal;
	background: color-mix(in lch, color-mix(in lch, var(--colour), #000 30%), #555 5%) !important;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 400;
	margin: 4px;
	padding: 0;
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	align-items: center;
	border: none;
	--margin-y: 6px;
	--height: calc(1.5em + var(--margin-y) * 2);
	height: var(--height);
	
	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		z-index: 2;
		background: transparent;
		border: 1px solid transparent;
		@include transition(out, background, border-color);
	}
	
	&:hover, &:focus-visible {
		&::after {
			background: color(foreground-0, .2);
			border-color: color(foreground-0);
			@include transition(in);
		}
	}
	
	&-emblem {
		width: var(--height);
		height: var(--height);
		background-image: var(--icon);
		background-size: contain;
	}
	
	&-bungie-id {
		margin: 6px 10px;
		overflow: hidden;
		text-wrap: nowrap;
		text-overflow: ellipsis;
		
		&-code {
			opacity: .3;
		}
	}
	
	&-callsign {
		margin: 5px 0px 6px;
		opacity: .6;
	}
	
	&-placeholder {
		&::before {
			content: "a";
			margin: 6px 10px;
			font-size: 18px;
			opacity: 0;
		}
		
		display: flex;
		align-items: center;
		margin: 4px;
		border: 1px solid #ffffff08;
		position: relative;
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			inset: -1px;
			border: 1px solid #fff3;
			--s: 10px;
			--e: calc(100% - 10px);
			clip-path: polygon(
				0% 0%, var(--s) 0%, var(--s) var(--s), 0% var(--s), 0% 0%, 
				0% 100%, 0% var(--e), var(--s) var(--e), var(--s) 100%, 0% 100%,
				100% 100%, var(--e) 100%, var(--e) var(--e), 100% var(--e), 100% 100%,
				100% 0%, 100% var(--s), var(--e) var(--s), var(--e) 0%, 100% 0%,
				100% 100%, 0% 100%, 0% 0%,
			);
		}
	}
	
	&--authenticated {
		box-shadow: inset -4px 0 #fff, inset 0 -2px #fff3;
	}
}
