.switch-profile {
	.paginator-button::after {
		mix-blend-mode: normal;
	}
	
	&-list {
		&-paginator {
			container-type: inline-size;
			width: calc(100% + (var(--paginator-button-margin) + var(--paginator-button-width)) * 2);
		}
	
		&-wrapper {
			padding-top: 0;
			--paginator-content-width: calc(100cqw - (var(--paginator-button-margin) + var(--paginator-button-width)) * 2);
		}
		
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-auto-flow: column;
	}
		
	&-auth-button {
		margin: 0;
	}
	
	&-search {
		&-row {
			display: grid;
			grid-template-columns: auto 1fr 1fr;
			gap: 16px;
			margin-bottom: 16px;
			position: relative;
			
			.loadable {
				position: relative;
				
				&-loading {
					left: 0;
    				transform: translateY(-50%) scale(2);
				}
			}
		}
		
		&-result {
			display: flex;
			align-items: center;
			height: 100%;
			&-profile {
				margin: 0 !important;
				width: 100%;
			}
		}
	}
}
