.text-logo {
	display: grid;
	width: fit-content;

	&-deep {
		grid-column: 1/4;
	}

	&-sight {
		position: relative;
		font-size: 1.34em;
		&::before {
			content: "l";
			display: block;
			position: absolute;
			left: 1.315em;
			top: -0.23em;
			transform: scaleY(173%);
			text-shadow: -0.03em 0 0 color(background-3);
		}
	}

	&-dot,
	&-gg {
		opacity: 0.5;
	}
}
