@mixin mask-icon($path: var(--icon)) {
	@if type-of($path) == "string" and str-slice($path, 1, 4) != "var(" and str-slice($path, 1, 4) != "url(" {
		@if str-slice($path, 1, 1) != "/" and str-slice($path, 1, 4) != "http" and str-slice($path, -4) != ".png" {
			$path: "./image/svg/#{$path}";
		}
		@if str-slice($path, -4) != ".svg" and str-slice($path, -4) != ".png" {
			$path: "#{$path}.svg";
		}
		$path: url("#{$path}");
	}

	background: currentColor;
	-webkit-mask-image: $path;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-image: $path;
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
}

@mixin icon($path: var(--icon)) {
	@if type-of($path) == "string" and str-slice($path, 1, 4) != "var(" and str-slice($path, 1, 4) != "url(" {
		@if str-slice($path, 1, 1) != "/" and str-slice($path, 1, 4) != "http" {
			$path: "./image/svg/#{$path}";
		}
		@if str-slice($path, 1, 1) == "/" {
			$path: "https://www.bungie.net#{$path}";
		}
		@if str-slice($path, -4) != ".svg" and str-slice($path, -4) != ".png" {
			$path: "#{$path}.svg";
		}
		$path: url("#{$path}");
	}

	background-image: $path;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
