@mixin googleFont($family, $formats...) {
	$formatTextItalic: "";
	$formatTextNormal: "";
	@each $format in $formats {
		$weight: nth($format, 1);

		$italic: if(length($format) == 2, nth($format, 2), null);
		@if $italic == italic {
			$formatTextItalic: "#{$formatTextItalic};1,#{$weight}";
		} @else if $italic == normal or $italic == null {
			$formatTextNormal: "#{$formatTextNormal};0,#{$weight}";
		} @else {
			@error "Unknown value provided in font format '#{$italic}'";
		}
	}

	$formatTextItalic: if(str-length($formatTextItalic) > 0, str-slice($formatTextItalic, 2), "");
	$formatTextNormal: if(str-length($formatTextNormal) > 0, str-slice($formatTextNormal, 2), "");
	$formatTextSeparator: if($formatTextNormal != "" and $formatTextItalic != "", ";", "");
	$formatText: "#{$formatTextNormal}#{$formatTextSeparator}#{$formatTextItalic}";

	@import url("https://fonts.googleapis.com/css2?family=#{$family}:ital,wght@#{$formatText}&display=swap");
}

@import "sans-serif";
@import "serif";
