@mixin googleFont($family, $formats...) {
	$formatText: "";
	@each $format in $formats {
		$wght: nth($format, 1);
		
		$ital: if(length($format) == 2, nth($format, 2), null);
		@if $ital == italic {
			$ital: 1;
		} @else if $ital == normal or $ital == null {
			$ital: 0;
		} @else {
			@error "Unknown value provided in font format '#{$ital}'";
		}
		
		$formatText: "#{$formatText};#{$ital},#{$wght}";
	}

	@import url("https://fonts.googleapis.com/css2?family=#{$family}:ital,wght@#{str-slice($formatText, 2)}&display=swap");
}

@import "sans-serif";
