@include googleFont(
	"Open+Sans",
	300,
	300 italic,
	400,
	400 italic,
	500,
	500 italic,
	600,
	600 italic,
	700,
	700 italic,
	800,
	800 italic
);
$font-sans-serif: "Open Sans";

@include googleFont("DM+Sans", 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic);
$font-title: "DM Sans";
$font-numeric: var(--font-neue-haas-grotesk, "Open Sans"), "Open Sans";

@mixin grotesk($alternate: "Open Sans", $where: true) {
	@if $alternate == numeric {
		$alternate: "Open Sans";
	}
	
	@if $alternate == title {
		$alternate: "DM Sans";
	}
	
	font-family: var(--font-neue-haas-grotesk, #{$alternate}), $alternate;
	
	@if $where {
		:where(.has-font-neue-haas-grotesk) & {
			@content;
		}
	} @else {
		.has-font-neue-haas-grotesk & {
			@content;
		}
	}
}
