name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0

      - name: Install dependencies
        run: npm install
        
      - name: Build
        env:
          FVM_BUNGIE_API_KEY: ${{ secrets.FVM_BUNGIE_API_KEY }}
          FVM_BUNGIE_CLIENT_ID: ${{ secrets.FVM_BUNGIE_CLIENT_ID }}
        run: npm run build
      
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: build
          build_dir: docs
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
